In [3]:
#basic imports
import pandas as pd
import numpy as np
import matplotlib as mpl
import json

%matplotlib inline
import warnings
import datetime as dt

# for visualizations
import matplotlib.pyplot as plt
import seaborn as sns


# for interactive visualizations
import plotly.offline as py
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
from plotly import tools
init_notebook_mode(connected = True)
import plotly.figure_factory as ff

warnings.filterwarnings("ignore")

In [4]:
#mydateparser = lambda x: pd.datetime.strptime(x, "%d/%m/%Y ")
df = pd.read_csv("../datasets/empresas.csv", sep=';')
df.head()

,Nome,Email,Telefone,CPF/CNPJ,Data cadastro,Cidade,UF,Qtd vistoria,Qtd foto,Armazenamento,Situação,Data limite teste,Vencimento,Valor,Desconto,Valor vistoria adicional,Data compra,Data cancelamento
0,07856446609,rod-queiroz@hotmail.com,(31) 99802-0349,078.564.466-09,21/12/2021,belo horizonte,MG,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 ponto imobiliario,NaN,(31) 999548491,17.149.156/0001-31,16/01/2021,Belo Horizonte,MG,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21 Soluções Imobiliárias,nilsoncardosoimoveis@gmail.com,(48) 99602-4343,34.162.884/0001-00,25/08/2021,Florianópolis,SC,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2F BRASIL CORRETORA DE SEGUROS E IMOVEIS LTDA.,NaN,(19) 999094009,20.453.418/0001-61,30/10/2019,SANTA BARBARA D'OESTE,SP,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,05/02/2022,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,08/02/2022,NaN

In [5]:
df['Data compra'] = pd.to_datetime(df['Data compra'], format='%d/%m/%Y')
df['Data cancelamento'] = pd.to_datetime(df['Data cancelamento'], format='%d/%m/%Y')
df['Data cadastro'] = pd.to_datetime(df['Data cadastro'], format='%d/%m/%Y')
df.head()

,Nome,Email,Telefone,CPF/CNPJ,Data cadastro,Cidade,UF,Qtd vistoria,Qtd foto,Armazenamento,Situação,Data limite teste,Vencimento,Valor,Desconto,Valor vistoria adicional,Data compra,Data cancelamento
0,07856446609,rod-queiroz@hotmail.com,(31) 99802-0349,078.564.466-09,2021-12-21,belo horizonte,MG,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,1 ponto imobiliario,NaN,(31) 999548491,17.149.156/0001-31,2021-01-16,Belo Horizonte,MG,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
2,21 Soluções Imobiliárias,nilsoncardosoimoveis@gmail.com,(48) 99602-4343,34.162.884/0001-00,2021-08-25,Florianópolis,SC,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
3,2F BRASIL CORRETORA DE SEGUROS E IMOVEIS LTDA.,NaN,(19) 999094009,20.453.418/0001-61,2019-10-30,SANTA BARBARA D'OESTE,SP,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,2022-02-05,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,2022-02-08,NaT

In [42]:
colunas = {"Nome":"nome","Email":"email","Telefone":"telefone","CPF/CNPJ":"CPF/CNPJ","Data cadastro":"dtcadastro","Cidade":"cidade","UF":"uf","Qtd vistoria":"qtdvistoria","Qtd foto":"qtdfoto","Armazenamento":"armazenamento",
           "Data limite teste":"limiteteste","Vencimento":"vencimento","Valor":"valor",
           "Desconto":"desconto","Valor vistoria adicional":"vistoriaadd","Data compra":"dtcompra","Data cancelamento":"dtcancelamento","Data cancelamento":"dtcancelamento","Situação":"situacao"}
df.rename(columns=colunas, inplace=True)
df.head()

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento
4620,WFormoso Imobiliária e Consultoria Ltda,NaN,(21) 960191738,18.863.871/0001-02,2020-09-16,Rio de Janeiro,RJ,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4621,WFORMOSO IMOBILIÁRIA E CONSULTORIA LTDA,comercial.wformosoimobiliaria@gmail.com,(21) 99643-5858,128.436.037-73,2021-09-22,Rio de janeiro,RJ,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4622,WF Vistorias,giovanna.romana@gmail.com,(11) 99290-5393,37.722.195/0001-93,2021-01-29,São Paulo,SP,5,999999,1,Cancelada,NaN,5.0,79.00,NaN,3.5,2021-02-25,2021-07-07
4623,WILC CONSULTORIA IMOBILIARIA EIRELI,adm@wilcimoveis.com.br,(21) 983155831,22.013.191/0001-69,2020-01-09,RIO DE JANEIRO,RJ,10,999999,1,Cancelada,NaN,5.0,110.00,NaN,3.5,NaT,NaT
4624,Wild Imóveis,rhwildimoveis@gmail.com,(53) 3242-6191,08.694.886/0001-22,2021-04-13,Bagé,RS,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4625,Wiliam castelli,contato@wcastelli.com.br,(41) 3503-8101,21.096.902/0001-43,2021-11-10,Curitiba,PR,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4626,Wilkson Souza,wilkson.souza@outlook.com.br,(85) 98845-4466,022.280.943-40,2021-06-15,Caucaia,CE,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4627,William,ferreirawill5513@gmail.com,(11) 987745948,494.185.918-98,2020-12-04,São Paulo,SP,5,999999,1,Cancelada,NaN,20.0,79.90,NaN,3.5,NaT,2021-03-03
4628,William,NaN,(51) 982591297,92.259.209/0001-92,2020-04-28,Novo Hamburgo,RS,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4629,William Ferreira,williamfms20@gmail.com,(11) 987745948,489.192.368-79,2020-07-09,São Paulo,SP,10,999999,11,Ativa,NaN,5.0,140.00,NaN,3.5,2022-01-05,NaT
4630,William Ferreira Costa Brito,suane8897@gmail.com,(71) 99179-5467,075.597.885-48,2021-06-06,Salvador,BA,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4631,William Luiz cleres,williamcleris@gmail.com,(69) 99245-0981,045.328.462-00,2021-02-04,Cacoal,RO,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4632,William Silverio Machado,wsmachado.85@gmail.com,(34) 99280-9499,070.980.856-93,2021-04-15,Uberlândia,MG,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4633,Willian,wnewnewnewne@icloud.com,(47) 99922-3320,113.783.209-64,2021-12-20,Itapema,SC,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4634,Willian Douglas,NaN,(43) 99915919,086.479.269-78,2020-10-06,Londrina,PR,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4635,Willian Ferreira Da Silva,willian_ricce@yahoo.com.br,(16) 99289-9642,324.584.168-02,2021-11-30,Cravinhos,SP,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4636,Willian Hach,NaN,(43) 999721828,053.224.429-01,2020-03-02,Arapongas,PR,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4637,Willian Silva Cerqueira,w.sc1980@hotmail.com,(11) 96432-4650,796.346.305-10,2021-07-02,Osasco,SP,10,999999,1,Cancelada,NaN,12.0,120.00,NaN,3.5,2021-07-12,2021-09-11
4638,Willians Meda Empreendimentos Imobiliários LTDA,anamaria.abud@hotmail.com,(11) 2441-4141,08.974.648/0001-70,2021-01-22,Guarulhos,SP,10,999999,1,Ativa,NaN,17.0,120.00,NaN,3.5,2022-02-17,NaT
4639,Willyane Tiuma,willyane.tiuma@hotmail.com,(11) 98735-0283,423.377.618-86,2021-10-08,Jandira,SP,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4640,Wilson Andia Junior,andiajr@hotmail.com,(11) 97604-8635,280.176.948-73,2021-04-03,São Paulo,SP,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4641,Wilson Roberto,NaN,(13) 991926757,115.064.848-16,2020-02-18,Bertioga,SP,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4642,WILSON ROBERTO STUANI,NaN,(11) 998327826,337.593.238-39,2020-10-20,Jundiaí,SP,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4643,Wirton Igor de Souza Paula,wirtonigor@gmail.com,(85) 99631-1298,631.404.623-87,2021-10-29,Fortaleza,CE,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4644,WLF Vistoria,fernando@wlfvistoria.com.br,(11) 950507356,28.584.128/0001-69,2021-01-16,São Paulo,SP,30,999999,15,Ativa,NaN,10.0,207.43,NaN,3.5,NaT,NaT
4645,W Negócios Imobiliários Eirele,handrigo@wnegocios.com.br,(11) 940224422,10.404.385/0001-06,2021-01-16,São Paulo,SP,10,999999,11,Cancelada,NaN,15.0,134.00,NaN,3.5,NaT,NaT
4646,wunderlich &bereta,NaN,(51) 34881588,22.133.422/0001-78,2021-01-16,Gravataí,RS,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4647,Wust Imóveis Ltda,wi.imoveis@terra.com.br,(51) 3551-1212,07.219.091/0001-08,2022-02-02,Estância Velha,RS,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4648,XAVIER IMOVEIS LTDA,NaN,(11) 968508585,01.123.117/0001-25,2020-01-10,VARGEM GRANDE PAULISTA,SP,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4649,xv de novembro imóveis s/s ltda,falecom@grupoxv.com.br,(19) 3444-0383,01.858.321/0001-94,2021-08-19,limeira,SP,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4650,Xxxx,NaN,(11) 111111121,017.265.291-00,2020-06-18,Marabe,AC,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4651,Yan Caliel Rocha de Souza,calielyan12@gmail.com,(22) 99838-8809,151.525.637-54,2021-04-29,Campos dos Goytacazes,RJ,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4652,Yan Felipe Chaves Silva,contato.yanpropriedade@gmail.com,(31) 99115-1491,127.208.166-47,2021-01-28,Raposos,MG,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4653,Yassin Imobiliária e Construtora,yassinimobiliaria@gmail.com,(65) 99900-5857,01.948.120/0001-88,2021-10-05,Cuiabá,MT,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4654,Ygor de Araujo Sousa,xygor123x@gmail.com,(11) 95157-7847,467.419.308-76,2021-04-29,São Bernardo do Campo,SP,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4655,Yohana,NaN,(21) 980381256,054.074.537-54,2020-09-07,Rio de Janeiro,RJ,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4656,Yohana Bitencourt,pablobitencourt2004@gmail.com,(21) 98184-9131,126.791.807-12,2022-01-11,Niterói,RJ,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4657,yohanna pontes mendes,yohannamendes@live.com,(85) 99860-0040,044.481.453-10,2021-04-08,fortaleza,CE,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4658,YUCA COMUNIDADE E TECNOLOGIA LTDA.,mossa@yuca.live,(11) 991406051,34.399.713/0001-91,2020-11-27,São Paulo,SP,10,999999,1,Cancelada,NaN,8.0,120.00,NaN,3.5,2021-01-08,2021-03-10
4659,yuri zenichi kawabata,yuri@ivoimoveis.com,(11) 95225-4409,468.912.608-92,2022-01-21,sao paulo,SP,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4660,Zabaleta Construtora e Incorporadora Ltda,NaN,(53) 999820505,88.107.263/0001-45,2021-01-16,Pelotas,RS,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4661,Zaíne Rachel Cerqueira de Souza,cerqueirazr@gmail.com,(12) 98893-6182,305.890.878-43,2021-12-08,Cruzeiro,SP,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4662,zalix guerra nelson,NaN,(84) 999530721,942.116.634-53,2020-05-14,Natal,RN,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4663,ZANGARI NETIMOVEIS LTDA,silvana@zangari.com.br,(11) 30744242,09.290.783/0001-60,2021-01-16,SÃO PAULO,SP,999,999999,999,Ativa,NaN,5.0,198.05,NaN,3.5,NaT,NaT
4664,ZELTER CAMPOS DE ASSUMPCAO,zeltercampos@gmail.com,(21) 99673-7377,11.207.000/0001-83,2021-07-20,Rio de Janeiro,RJ,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4665,zem cioccari negocios imobiliarios ltda,zemcioccari@gmail.com,(16) 99626-9888,40.795.190/0001-03,2022-03-14,RIBEIRÃO PRETO,SP,4,200,1,Teste,19/03/2022,NaN,NaN,NaN,NaN,NaT,NaT
4666,Zilda Cavalcanti,NaN,(19) 995070352,101.107.428-18,2020-06-23,Campinas,SP,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4667,Zim Imóveis,bernardoalbuquerquebc@gmail.com,(47) 98812-9909,21.507.661/0001-88,2021-11-03,Camboriu,SC,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4668,Zuccaro Imóveis,karem.bb@gmail.com,(11) 2408-7888,184.913.968-70,2021-02-05,Guarulhos,SP,180,999999,45,Ativa,NaN,21.0,465.20,NaN,3.5,2021-02-17,NaT
4669,ZYLBER ASSESSORIA IMOBILIARIA LTDA. - EPP,juliana@zylber.com.br,(11) 33343311,43.786.862/0001-02,2021-01-16,SÃO PAULO,SP,999,999999,999,Ativa,NaN,5.0,198.16,NaN,3.5,NaT,NaT

In [7]:
df_canc = df[(df['dtcancelamento'] >= '2021-12-01') & (df['situacao'] != 'Ativa')]
df_canc.head()

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento
65,ADMINISTRADORA CASA GRANDE,eriane@admcasagrande.com.br,(31) 33842121,20.118.246/0001-70,2021-01-16,BELO HORIZONTE,MG,30,999999,5,Cancelada,NaN,5.0,159.0,NaN,3.5,NaT,2022-01-05
76,Adriana Moraes de Andrade,adriana.moraes.eng@gmail.com,(95) 99162-9033,521.285.472-53,2021-09-17,Boa Vista,RR,10,999999,1,Cancelada,NaN,5.0,120.0,NaN,3.5,2021-11-01,2022-01-05
136,ALBERT DE OLIVEIRA FELIX DOS SANTOS,albertfelixvistoriaimobiliaria@gmail.com,(31) 97344-4944,40.949.142/0001-14,2021-02-23,BELO HORIZONTE,MG,20,999999,3,Cancelada,NaN,7.0,155.0,NaN,3.5,2021-06-07,2022-03-09
233,ALVARO PINTO FERREIRA 359.121.688-75,alvaropinto15@gmail.com,(11) 98624-7848,22.214.484/0001-04,2021-10-02,São Paulo,SP,10,999999,1,Cancelada,NaN,25.0,120.0,NaN,3.5,2021-10-25,2021-12-25
244,"AMARAL, SANTOS & BRAZ ASSESSORIA IMOBILIARIA LTDA",juridico@asbadvogados.adv.br,(21) 2240-7003,10.514.224/0001-75,2022-01-04,RIO DE JANEIRO,RJ,10,999999,1,Cancelada,NaN,7.0,120.0,NaN,3.5,2022-01-07,2022-03-09

In [8]:
df_compr = df[(df['dtcompra'] >= '2021-12-01') & (df['situacao'] != 'Cancelada')]
df_compr.head()

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,2022-02-05,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,2022-02-08,NaT
64,Administra,contato@administra.com.br,(61) 99695-0257,10.426.167/0001-72,2021-08-12,Brasília,DF,10,999999,1,Ativa,NaN,15.0,110.0,10.0,3.5,2022-02-02,NaT
195,ALIANCA CONSULTORIA DE IMOVEIS LTDA - ME,valdemar@aliancaimob.com,NaN,03.265.351/0001-12,2021-01-16,UBERLANDIA,MG,10,999999,1,Ativa,NaN,11.0,120.0,NaN,3.5,2022-01-11,NaT
254,Ampla Soluções Imobiliárias,amplavistoriadeimoveis@gmail.com,(84) 99632-5359,010.232.224-42,2021-04-17,Natal,RN,10,999999,1,Inativa por não pagamento,NaN,5.0,110.0,NaN,3.5,2022-02-03,NaT
255,Amplo Imoveis Eireli,amploimoveisrs@gmail.com,(51) 98583-3605,12.342.793/0001-06,2021-06-10,Sapiranga,RS,10,999999,1,Ativa,NaN,8.0,120.0,NaN,3.5,2021-12-08,NaT

In [9]:
# #testando
# df_test = df_compr[(df_compr['dtcompra'] >= '2022-02-01') & (df_compr['dtcompra'] <= '2022-02-28')]
# df_test['valor'].sum()

In [10]:
df_canc['mes'] = pd.DatetimeIndex(df_canc['dtcancelamento']).month
# df['mes_canc'] = df['mes_canc'].astype(int, errors='ignore')
df_canc['mes'] = df_canc['mes'].fillna(0).astype(int)

df_canc.head()

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento,mes
65,ADMINISTRADORA CASA GRANDE,eriane@admcasagrande.com.br,(31) 33842121,20.118.246/0001-70,2021-01-16,BELO HORIZONTE,MG,30,999999,5,Cancelada,NaN,5.0,159.0,NaN,3.5,NaT,2022-01-05,1
76,Adriana Moraes de Andrade,adriana.moraes.eng@gmail.com,(95) 99162-9033,521.285.472-53,2021-09-17,Boa Vista,RR,10,999999,1,Cancelada,NaN,5.0,120.0,NaN,3.5,2021-11-01,2022-01-05,1
136,ALBERT DE OLIVEIRA FELIX DOS SANTOS,albertfelixvistoriaimobiliaria@gmail.com,(31) 97344-4944,40.949.142/0001-14,2021-02-23,BELO HORIZONTE,MG,20,999999,3,Cancelada,NaN,7.0,155.0,NaN,3.5,2021-06-07,2022-03-09,3
233,ALVARO PINTO FERREIRA 359.121.688-75,alvaropinto15@gmail.com,(11) 98624-7848,22.214.484/0001-04,2021-10-02,São Paulo,SP,10,999999,1,Cancelada,NaN,25.0,120.0,NaN,3.5,2021-10-25,2021-12-25,12
244,"AMARAL, SANTOS & BRAZ ASSESSORIA IMOBILIARIA LTDA",juridico@asbadvogados.adv.br,(21) 2240-7003,10.514.224/0001-75,2022-01-04,RIO DE JANEIRO,RJ,10,999999,1,Cancelada,NaN,7.0,120.0,NaN,3.5,2022-01-07,2022-03-09,3

In [11]:
df_compr['mes'] = pd.DatetimeIndex(df_compr['dtcompra']).month
# df['mes_canc'] = df['mes_canc'].astype(int, errors='ignore')
df_compr['mes'] = df_compr['mes'].fillna(0).astype(int)

df_compr.head()

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento,mes
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,2022-02-05,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,2022-02-08,NaT,2
64,Administra,contato@administra.com.br,(61) 99695-0257,10.426.167/0001-72,2021-08-12,Brasília,DF,10,999999,1,Ativa,NaN,15.0,110.0,10.0,3.5,2022-02-02,NaT,2
195,ALIANCA CONSULTORIA DE IMOVEIS LTDA - ME,valdemar@aliancaimob.com,NaN,03.265.351/0001-12,2021-01-16,UBERLANDIA,MG,10,999999,1,Ativa,NaN,11.0,120.0,NaN,3.5,2022-01-11,NaT,1
254,Ampla Soluções Imobiliárias,amplavistoriadeimoveis@gmail.com,(84) 99632-5359,010.232.224-42,2021-04-17,Natal,RN,10,999999,1,Inativa por não pagamento,NaN,5.0,110.0,NaN,3.5,2022-02-03,NaT,2
255,Amplo Imoveis Eireli,amploimoveisrs@gmail.com,(51) 98583-3605,12.342.793/0001-06,2021-06-10,Sapiranga,RS,10,999999,1,Ativa,NaN,8.0,120.0,NaN,3.5,2021-12-08,NaT,12

In [12]:
# df['mes_compr'] = pd.DatetimeIndex(df['dtcompra']).month
# df['mes_compr'] = df['mes_compr'].fillna(0).astype(int)
# df.head()

In [13]:
import calendar
result = []
for i in df_canc['mes']:
    result.append(calendar.month_abbr[i])
df_canc['month'] = result
print(result)

['Jan', 'Jan', 'Mar', 'Dec', 'Mar', 'Jan', 'Jan', 'Jan', 'Dec', 'Jan', 'Jan', 'Jan', 'Dec', 'Dec', 'Feb', 'Feb', 'Dec', 'Mar', 'Feb', 'Feb', 'Feb', 'Feb', 'Feb', 'Feb', 'Feb', 'Dec', 'Dec', 'Jan', 'Dec', 'Feb', 'Jan', 'Dec', 'Mar', 'Mar', 'Mar', 'Mar', 'Jan', 'Feb', 'Jan', 'Dec', 'Feb', 'Dec']

In [14]:
import calendar
result = []
for i in df_compr['mes']:
    result.append(calendar.month_abbr[i])
df_compr['month'] = result
print(result)

['Feb', 'Feb', 'Jan', 'Feb', 'Dec', 'Mar', 'Jan', 'Feb', 'Jan', 'Dec', 'Mar', 'Mar', 'Mar', 'Dec', 'Feb', 'Dec', 'Feb', 'Jan', 'Mar', 'Feb', 'Mar', 'Mar', 'Feb', 'Jan', 'Jan', 'Feb', 'Feb', 'Jan', 'Feb', 'Mar', 'Dec', 'Feb', 'Dec', 'Feb', 'Jan', 'Mar', 'Mar', 'Jan', 'Feb', 'Dec', 'Jan', 'Dec', 'Feb', 'Jan', 'Mar', 'Feb', 'Feb', 'Feb', 'Dec', 'Mar', 'Jan', 'Jan', 'Feb', 'Jan', 'Dec', 'Feb', 'Mar', 'Feb', 'Feb', 'Dec', 'Jan', 'Feb']

In [15]:
df_canc.sort_values("mes")
df_compr.sort_values("mes")

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento,mes,month
1973,Imobiliária Immig,imobiliariaimmig@gmail.com,(51) 98030-9520,44.270.107/0001-25,2022-01-04,Estância Velha,RS,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,2022-01-08,NaT,1,Jan
3464,Paulo Dias Corretor de Imóveis,comercial@paulodiascorretorhp.com.br,(47) 99666-5971,34.595.951/0001-72,2022-01-07,Balneário Camboriu,SC,10,999999,1,Ativa,NaN,21.0,120.0,NaN,3.5,2022-01-21,NaT,1,Jan
3076,MATSUMOTO IMOVEIS,contato@matsumotocorretora.com.br,(67) 999795062,11.349.494/0001-30,2020-07-08,TRES LAGOAS,MS,10,999999,1,Ativa,NaN,25.0,110.0,NaN,3.5,2022-01-25,NaT,1,Jan
2957,Marcos Antônio Moraes,mmvistorias@mmvistorias.com.br,(31) 98443-7621,044.243.406-51,2022-01-23,Betim,MG,10,999999,1,Ativa,NaN,26.0,120.0,NaN,3.5,2022-01-31,NaT,1,Jan
3973,Rozinardo serafim da luz,tekoserafim@gmail.com,(47) 99233-2255,206.677.418-95,2022-01-04,Blumenau,SC,10,999999,1,Ativa,NaN,11.0,120.0,NaN,3.5,2022-01-11,NaT,1,Jan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,Novacasa Imoveis LTDA,supervisao@novacasaimoveismg.com.br,(31) 99956-1877,28.187.333/0001-90,2021-01-16,Belo Horizonte-MG,MG,10,999999,1,Ativa,NaN,10.0,120.0,NaN,3.5,2021-12-10,NaT,12,Dec
3213,Morar Jampa Imóveis e serviço,morar.jampa@gmail.com,(83) 988921242,35.133.475/0001-30,2020-05-15,Joao Pessoa,PB,5,999999,1,Ativa,NaN,8.0,89.0,NaN,3.5,2021-12-08,NaT,12,Dec
2705,Lucas Bandeira Rosa,dlrassessoriaimobiliaria@gmail.com,(21) 970176092,052.179.227-45,2020-05-13,Rio de Janeiro,RJ,10,999999,1,Ativa,NaN,7.0,110.0,NaN,3.5,2021-12-07,NaT,12,Dec
508,BELLOX IMOVEIS LTDA,yan@bellhouse.com.br,(11) 99612-4120,43.351.684/0001-89,2021-11-10,Santo André,SP,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,2021-12-08,NaT,12,Dec
2452,Kanri Administradora de Bens Ltda,contato@kanri.adm.br,(48) 99688-7130,37.266.674/0001-42,2021-12-04,Florianopolis,SC,10,999999,1,Ativa,NaN,14.0,110.0,NaN,3.5,2021-12-14,NaT,12,Dec

# Preparando os cancelados

In [16]:
df_canc

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento,mes,month
65,ADMINISTRADORA CASA GRANDE,eriane@admcasagrande.com.br,(31) 33842121,20.118.246/0001-70,2021-01-16,BELO HORIZONTE,MG,30,999999,5,Cancelada,NaN,5.0,159.00,NaN,3.5,NaT,2022-01-05,1,Jan
76,Adriana Moraes de Andrade,adriana.moraes.eng@gmail.com,(95) 99162-9033,521.285.472-53,2021-09-17,Boa Vista,RR,10,999999,1,Cancelada,NaN,5.0,120.00,NaN,3.5,2021-11-01,2022-01-05,1,Jan
136,ALBERT DE OLIVEIRA FELIX DOS SANTOS,albertfelixvistoriaimobiliaria@gmail.com,(31) 97344-4944,40.949.142/0001-14,2021-02-23,BELO HORIZONTE,MG,20,999999,3,Cancelada,NaN,7.0,155.00,NaN,3.5,2021-06-07,2022-03-09,3,Mar
233,ALVARO PINTO FERREIRA 359.121.688-75,alvaropinto15@gmail.com,(11) 98624-7848,22.214.484/0001-04,2021-10-02,São Paulo,SP,10,999999,1,Cancelada,NaN,25.0,120.00,NaN,3.5,2021-10-25,2021-12-25,12,Dec
244,"AMARAL, SANTOS & BRAZ ASSESSORIA IMOBILIARIA LTDA",juridico@asbadvogados.adv.br,(21) 2240-7003,10.514.224/0001-75,2022-01-04,RIO DE JANEIRO,RJ,10,999999,1,Cancelada,NaN,7.0,120.00,NaN,3.5,2022-01-07,2022-03-09,3,Mar
511,Benin imoveis Ltda,aluguel1@benin.com.br,(51) 984350580,89.841.282/0001-63,2021-01-16,Canoas,RS,30,999999,5,Cancelada,NaN,5.0,175.67,NaN,3.5,NaT,2022-01-05,1,Jan
527,Bezerra Imóveis Bragança,bezerraimoveis3@gmail.com,(11) 97115-0596,21.134.600/0001-12,2021-08-17,Bragança Paulista,SP,10,999999,1,Cancelada,NaN,17.0,120.00,NaN,3.5,2021-08-17,2022-01-16,1,Jan
717,Carvalho e canhim ltda,danilocanhim@hotmail.com,(43) 984638614,30.920.574/0001-49,2021-01-16,Londrina,PR,10,999999,1,Cancelada,NaN,10.0,120.00,NaN,3.5,2021-11-10,2022-01-09,1,Jan
851,Cleia Bonamente Saraiva,cleia.bonamente@hotmail.com,(11) 94879-8488,769.862.099-91,2021-10-05,Guarulhos,SP,10,999999,1,Cancelada,NaN,7.0,120.00,NaN,3.5,2021-10-07,2021-12-08,12,Dec
897,Conquista imoveis Brasil,patriciafranca.corretora@gmail.com,(42) 99921-2097,30.634.538/0001-19,2021-09-28,Ponta Grossa,PR,20,999999,3,Cancelada,NaN,5.0,140.00,NaN,3.5,2021-10-01,2022-01-05,1,Jan
931,Cristiane Pinarelli,cristianepinarelli@hotmail.com,(12) 99618-3921,220.520.148-45,2021-10-27,Ilhabela,SP,5,999999,1,Cancelada,NaN,5.0,89.00,NaN,3.5,2021-11-04,2022-01-05,1,Jan
1242,ELIEZER SCUDELETTI,imobsm@uol.com.br,(14) 99162-2854,158.236.728-02,2021-09-17,SAO MANUEL,SP,10,999999,1,Cancelada,NaN,26.0,120.00,NaN,3.5,2021-10-27,2022-01-26,1,Jan
1267,Elsio Cesar de Lima Bastos,elsiobastos@gmail.com,(21) 97011-0337,805.492.507-78,2021-07-05,Rio de janeiro,RJ,5,999999,1,Cancelada,NaN,5.0,79.90,NaN,3.5,2021-08-02,2021-12-05,12,Dec
1277,Emanuel Luan Cortez De Franca Sobrinho,luancortez@gmail.com,(92) 98427-1012,003.260.562-54,2021-04-30,Manaus,AM,10,999999,1,Cancelada,NaN,5.0,120.00,NaN,3.5,2021-10-05,2021-12-05,12,Dec
1330,Especiale Imoveis,financeiro@especialeimoveis.com.br,(41) 99178-8171,08.738.199/0001-61,2021-05-31,Curitiba,PR,30,999999,5,Cancelada,NaN,9.0,175.00,NaN,3.5,2021-06-09,2022-02-09,2,Feb
1395,Fabiano Santos,fabianosantos@creci.org.br,(11) 980480285,288.030.828-32,2020-07-04,São Paulo,SP,5,999999,1,Cancelada,NaN,10.0,84.59,NaN,3.5,NaT,2022-02-09,2,Feb
1598,FRENTE MAR ADMINISTRAÇÃO DE IMÓVEIS LTDA.,financeiro@frentemarimoveis.com.br,(85) 32631838,14.945.022/0001-39,2021-01-16,Fortaleza,CE,999,999999,999,Cancelada,NaN,5.0,151.99,NaN,3.5,NaT,2021-12-05,12,Dec
1976,Imobiliária Jaraguá,josue@imobiliariajaragua.com.br,(47) 997255854,30.868.333/0001-06,2020-03-14,Jaragua do sul,SC,10,999999,1,Cancelada,NaN,6.0,120.00,NaN,3.5,2022-01-06,2022-03-09,3,Mar
2060,Imovezon Venda de Imoveis e Empreendimentos ltda,contas@imovezon.com.br,(11) 26518778,62.453.964/0001-42,2021-01-16,Sao Paulo,SP,10,999999,1,Cancelada,NaN,10.0,125.03,NaN,3.5,2019-07-19,2022-02-09,2,Feb
2126,ITAMARATY IMÓVEIS,rocha@itamaratyimo.com.br,(61) 98148-5609,35.059.396/0001-27,2021-02-24,Brasília,DF,10,999999,1,Cancelada,NaN,6.0,110.00,NaN,3.5,2021-03-02,2022-02-05,2,Feb
2175,Janete Martins de Almeida,janetemartins.creci100758@gmail.com,NaN,079.095.138-01,2020-07-31,Osasco,SP,10,999999,1,Cancelada,NaN,20.0,120.00,NaN,3.5,2021-12-20,2022-02-19,2,Feb
2273,joão Pedro,ti@universomundi.com.br,(77) 99211-2929,863.856.795-27,2021-10-06,vitória da conquista,BA,10,999999,1,Cancelada,NaN,9.0,120.00,NaN,3.5,2021-12-09,2022-02-09,2,Feb
2577,Leia Emidio Martins,leiaemiconsultoriaimobiliaria@gmail.com,NaN,291.123.328-01,2020-06-25,São Paulo,SP,5,999999,1,Cancelada,NaN,15.0,79.00,NaN,3.5,2021-04-15,2022-02-16,2,Feb
2732,Lucia Cristina Duarte Gimenez,drluciagimenez@outlook.com,(41) 99813-6650,019.818.179-56,2021-12-07,Paranaguá,PR,20,999999,3,Cancelada,NaN,17.0,140.00,NaN,3.5,2021-12-17,2022-02-16,2,Feb
2813,LUIZ PAULO PEREIRA,luizpaulo@imobiliarialupa.com.br,(51) 99996-1602,10.693.169/0001-28,2021-11-03,Cachoeira do Sul,RS,10,999999,1,Cancelada,NaN,9.0,120.00,NaN,3.5,2021-11-09,2022-02-09,2,Feb
2955,marco rodrigues,markr7221@gmail.com,(11) 957967334,165.081.158-63,2020-11-18,São Paulo,SP,10,999999,1,Cancelada,NaN,8.0,120.00,NaN,3.5,2021-07-08,2021-12-08,12,Dec
2971,Marcos Otero imoveis,financeiro@marcosoteroimoveis.com.br,(53) 999611240,17.249.895/0001-03,2021-01-16,Rio grande,RS,50,999999,55,Cancelada,NaN,10.0,278.00,NaN,3.5,NaT,2021-12-10,12,Dec
3009,Maria Lucia Imóveis,marialuciasantos.imoveis@gmail.com,(62) 3771-3324,40.664.283/0001-90,2021-02-04,Anápolis,GO,30,999999,5,Inativa por não pagamento,NaN,13.0,159.00,NaN,3.5,2021-02-09,2022-01-12,1,Jan
3053,Maryenis burman,mbgestoradeimoveis@hotmail.com,(71) 99914-0391,820.014.565-49,2020-07-21,Lauro de Freitas,BA,10,999999,1,Cancelada,NaN,19.0,120.00,NaN,3.5,2021-10-19,2021-12-19,12,Dec
3330,Nova Granja Viana Imobiliária Ltda.,nova@novagranjaviana.com.br,(11) 4618-0008,16.466.700/0001-06,2021-06-09,Jandira,SP,20,999999,3,Cancelada,NaN,9.0,155.00,50.0,3.5,2021-06-09,2022-02-09,2,Feb
3361,OLLO CONDOMINIOS,financeiro@ollocondominios.com.br,(11) 2101-8777,31.696.372/0001-28,2021-01-20,São Paulo,SP,20,999999,3,Cancelada,NaN,26.0,155.00,NaN,3.5,2021-10-29,2022-01-26,1,Jan
3414,Panorama vistoria,corretoramarcia@hotmail.com,NaN,162.165.668-30,2020-04-30,São Paulo,AC,10,999999,20,Cancelada,NaN,5.0,146.60,NaN,3.5,NaT,2021-12-05,12,Dec
3631,Prosperare Corretores & Imobiliárias Associado...,financeiro@imobplace.com.br,(31) 98455-5300,43.886.546/0001-02,2021-06-13,Belo Horizonte,MG,10,999999,1,Cancelada,NaN,5.0,110.00,NaN,3.5,2021-08-03,2022-03-09,3,Mar
3813,RG IMOVEIS LTDA - ME,financeiro@rgimoveis.com.br,(31) 97433231,02.305.346/0001-23,2021-01-16,Contagem,MG,20,999999,3,Cancelada,NaN,5.0,164.42,NaN,3.5,NaT,2022-03-09,3,Mar
3863,Robert,robertwagnervaz@gmail.com,(11) 932012110,305.179.068-05,2020-03-03,Santo André,SP,30,999999,15,Cancelada,NaN,5.0,191.42,NaN,3.5,2020-03-05,2022-03-09,3,Mar
3880,Robson George Oliveira da Silva,robsaopg@live.com,(11) 94601-7246,321.179.138-81,2021-09-20,SÃO PAULO,SP,10,999999,1,Cancelada,NaN,5.0,120.00,NaN,3.5,2021-12-02,2022-03-09,3,Mar
4138,Site Location Administração de Bens Ltda,alexandre@sitelocation.com.br,(11) 97609-9085,13.042.255/0001-69,2021-06-23,são paulo,SP,20,999999,3,Cancelada,NaN,25.0,155.00,NaN,3.5,2021-06-25,2022-01-26,1,Jan
4165,Solo Negócios Imobiliários,jean@soloimoveispa.com.br,(94) 991243609,13.123.513/0001-31,2020-06-22,Parauapebas,PA,10,999999,1,Cancelada,NaN,6.0,120.00,NaN,3.5,2021-07-06,2022-02-05,2,Feb
4184,SP4 IMÓVEIS LTDA,aluguel@sperandio.com.br,(47) 992771324,23.479.295/0001-26,2020-11-28,Itapoá,SC,10,999999,1,Cancelada,NaN,5.0,110.00,NaN,3.5,NaT,2022-01-04,1,Jan
4389,UNI NEGOCIOS IMOBILIARIOS LTDA,adm@uniimoveisjacarei.com.br,(12) 99739-6958,32.856.894/0001-02,2020-04-06,JACAREI,SP,10,999999,1,Cancelada,NaN,26.0,110.00,NaN,3.5,2021-09-28,2021-12-26,12,Dec
4461,Veronilda Bezerra Cavalcanti,veronildacavalcanticorretora@gmail.com,(11) 98885-2150,155.506.128-10,2021-12-17,Barueri,SP,10,999999,1,Cancelada,NaN,20.0,120.00,NaN,3.5,2021-12-20,2022-02-24,2,Feb
4608,Wellington Luiz da Conceição do Nascimento,wn.nascimento87@gmail.com,(11) 95935-0035,36.979.567/0001-07,2021-03-17,São Paulo,SP,10,999999,1,Cancelada,NaN,26.0,120.00,NaN,3.5,2021-07-30,2021-12-26,12,Dec

In [17]:
df_canc2 = df_canc[['mes','valor']]
df_canc2

      mes   valor
65      1  159.00
76      1  120.00
136     3  155.00
233    12  120.00
244     3  120.00
511     1  175.67
527     1  120.00
717     1  120.00
851    12  120.00
897     1  140.00
931     1   89.00
1242    1  120.00
1267   12   79.90
1277   12  120.00
1330    2  175.00
1395    2   84.59
1598   12  151.99
1976    3  120.00
2060    2  125.03
2126    2  110.00
2175    2  120.00
2273    2  120.00
2577    2   79.00
2732    2  140.00
2813    2  120.00
2955   12  120.00
2971   12  278.00
3009    1  159.00
3053   12  120.00
3330    2  155.00
3361    1  155.00
3414   12  146.60
3631    3  110.00
3813    3  164.42
3863    3  191.42
3880    3  120.00
4138    1  155.00
4165    2  120.00
4184    1  110.00
4389   12  110.00
4461    2  120.00
4608   12  120.00

In [18]:
df_canc_total = (df_canc2.groupby(['mes'])['valor'].agg(['sum']).sort_values(by='sum', ascending=False).reset_index())
df_canc_total

   mes      sum
0    1  1622.67
1   12  1486.49
2    2  1468.62
3    3   980.84

In [19]:

# df_canc_gr = df_canc.groupby(
#      ['situacao','mes','valor']
#  ).agg(
#      total_canc = ('valor','sum'),
# #      total_compr  = ('mes_compr','sum'),
#  ).reset_index()

# df_canc_gr

In [20]:
import calendar
result = []
for i in df_canc_total['mes']:
    result.append(calendar.month_abbr[i])
df_canc_total['month'] = result
print(result)

['Jan', 'Dec', 'Feb', 'Mar']

In [21]:
df_canc_total.drop('mes', axis=1, inplace=True)
df_canc_total

       sum month
0  1622.67   Jan
1  1486.49   Dec
2  1468.62   Feb
3   980.84   Mar

In [22]:
# df_canc_gr2 = (df_canc_total.groupby(['situacao','month'])['valor'].agg(['sum']).sort_values(by='sum', ascending=False).reset_index())
# df_canc_gr2

In [23]:
months = ["Dec", "Jan", 
          "Feb", "Mar"]
df_canc_total['month'] = pd.Categorical(df_canc_total['month'], categories=months, ordered=True)
df_canc_total.sort_values(by='month', ascending = True, inplace=True)

df_canc_total

       sum month
1  1486.49   Dec
0  1622.67   Jan
2  1468.62   Feb
3   980.84   Mar

In [24]:
# groupby_canc = (df_canc_gr2.groupby(['month','situacao'])['sum'].agg(['sum']).sort_values(by='sum', ascending=False).reset_index().drop_duplicates('month', keep='first'))
# groupby_canc.head()

In [25]:
df_canc_gr2 = df_canc_total.copy()
df_canc_gr2.sort_values("month")

       sum month
1  1486.49   Dec
0  1622.67   Jan
2  1468.62   Feb
3   980.84   Mar

In [26]:
# df_canc_gr2.to_csv("df_cancelados_por_mes.csv")

# Preparando Ativos

In [27]:
df_compr2 = df_compr[['situacao','mes','valor']]
df_compr2

                       situacao  mes  valor
4                         Ativa    2  159.0
64                        Ativa    2  110.0
195                       Ativa    1  120.0
254   Inativa por não pagamento    2  110.0
255                       Ativa   12  120.0
...                         ...  ...    ...
4578  Inativa por não pagamento    2  110.0
4580                      Ativa    2  155.0
4591                      Ativa   12  120.0
4629                      Ativa    1  140.0
4638                      Ativa    2  120.0

[62 rows x 3 columns]

In [28]:
# df_compr_gr = df_compr.groupby(
#      ['situacao', 'mes','valor']
#  ).agg(
#      total_canc = ('valor','sum'),
# #      total_compr  = ('mes_compr','sum'),
#  ).reset_index()

# df_compr_gr

In [29]:
import calendar
result = []
for i in df_compr2['mes']:
    result.append(calendar.month_abbr[i])
df_compr2['month'] = result
print(result)

['Feb', 'Feb', 'Jan', 'Feb', 'Dec', 'Mar', 'Jan', 'Feb', 'Jan', 'Dec', 'Mar', 'Mar', 'Mar', 'Dec', 'Feb', 'Dec', 'Feb', 'Jan', 'Mar', 'Feb', 'Mar', 'Mar', 'Feb', 'Jan', 'Jan', 'Feb', 'Feb', 'Jan', 'Feb', 'Mar', 'Dec', 'Feb', 'Dec', 'Feb', 'Jan', 'Mar', 'Mar', 'Jan', 'Feb', 'Dec', 'Jan', 'Dec', 'Feb', 'Jan', 'Mar', 'Feb', 'Feb', 'Feb', 'Dec', 'Mar', 'Jan', 'Jan', 'Feb', 'Jan', 'Dec', 'Feb', 'Mar', 'Feb', 'Feb', 'Dec', 'Jan', 'Feb']

In [30]:
df_compr2.drop('mes', axis=1, inplace=True)
df_compr2.drop('situacao', axis=1, inplace=True)
df_compr2

      valor month
4     159.0   Feb
64    110.0   Feb
195   120.0   Jan
254   110.0   Feb
255   120.0   Dec
...     ...   ...
4578  110.0   Feb
4580  155.0   Feb
4591  120.0   Dec
4629  140.0   Jan
4638  120.0   Feb

[62 rows x 2 columns]

In [31]:
df_compr_gr2 = (df_compr2.groupby(['month'])['valor'].agg(['sum']).sort_values(by='sum', ascending=False).reset_index())
df_compr_gr2

  month     sum
0   Feb  3081.9
1   Jan  2048.0
2   Mar  1813.5
3   Dec  1347.0

In [32]:
months = ["Dec", "Jan", 
          "Feb", "Mar"]
df_compr_gr2['month'] = pd.Categorical(df_compr_gr2['month'], categories=months, ordered=True)
df_compr_gr2.sort_values(by='month', ascending = True, inplace=True)

df_compr_gr2

  month     sum
3   Dec  1347.0
1   Jan  2048.0
0   Feb  3081.9
2   Mar  1813.5

In [33]:
months = ["Dec", "Jan", "Feb", "Mar"]
df_compr_gr2['month'] = pd.Categorical(df_compr_gr2['month'], categories=months, ordered=True)
df_compr_gr2.sort_values(by='month', ascending = True, inplace=True)
df_compr_gr2

  month     sum
3   Dec  1347.0
1   Jan  2048.0
0   Feb  3081.9
2   Mar  1813.5

In [34]:
# groupby_compr = (df_compr_gr2.groupby(['month','situacao'])['sum'].agg(['sum']).sort_values(by='sum', ascending=False).reset_index().drop_duplicates('month', keep='first'))
# groupby_compr.head()

In [35]:
df_compr_gr2.sort_values("month")

  month     sum
3   Dec  1347.0
1   Jan  2048.0
0   Feb  3081.9
2   Mar  1813.5

In [36]:
df_compr_gr2

  month     sum
3   Dec  1347.0
1   Jan  2048.0
0   Feb  3081.9
2   Mar  1813.5

In [37]:
#inverte ordem coluna
df_canc_gr2 = df_canc_gr2[['month','sum']]
df_canc_gr2

  month      sum
1   Dec  1486.49
0   Jan  1622.67
2   Feb  1468.62
3   Mar   980.84

# Merge Data Frames

In [38]:
df_merge_col = pd.merge(df_compr_gr2, df_canc_gr2, on='month')

df_merge_col

  month   sum_x    sum_y
0   Dec  1347.0  1486.49
1   Jan  2048.0  1622.67
2   Feb  3081.9  1468.62
3   Mar  1813.5   980.84

In [39]:
months = ["Dec", "Jan", "Feb", "Mar"]
df_merge_col['month'] = pd.Categorical(df_merge_col['month'], categories=months, ordered=True)
df_merge_col.sort_values(by='month', ascending = True, inplace=True)
df_merge_col

  month   sum_x    sum_y
0   Dec  1347.0  1486.49
1   Jan  2048.0  1622.67
2   Feb  3081.9  1468.62
3   Mar  1813.5   980.84

In [40]:
df_merge_col.to_csv("../datasets/df_cancelados_e_vendidos_por_mes.csv")