In [1]:
#basic imports
import pandas as pd
import numpy as np
import matplotlib as mpl
import json

%matplotlib inline
import warnings
import datetime as dt

# for visualizations
import matplotlib.pyplot as plt
import seaborn as sns


# for interactive visualizations
import plotly.offline as py
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
from plotly import tools
init_notebook_mode(connected = True)
import plotly.figure_factory as ff

warnings.filterwarnings("ignore")

In [3]:
file = "../datasets/usuarios_assinantes.csv"
import chardet
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [4]:
#mydateparser = lambda x: pd.datetime.strptime(x, "%d/%m/%Y ")
df = pd.read_csv("../datasets/usuarios_assinantes.csv", sep=';', encoding = 'Windows-1252')
df.head()

,Nome,Email,Plano,Situação,Data de Cadastro,Data de Adesão,Data de Carência,Data de Cancelamento
0,Alexsander Júnior de Oliveira,alequiis.jr@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-04-26 15:33:57,NaN,2022-05-10 00:00:00,NaN
1,Arnaldo J R Cavalca Teste,naldocavalcanti@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-04-26 15:06:01,NaN,2022-05-10 15:06:01,NaN
2,Mateus Ferreira de Jesus,mateusferreiram4@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-04-26 14:23:29,NaN,2022-05-10 14:34:06,NaN
3,Anna Clara Meneguelo,annacpaternostro@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-04-26 11:42:49,NaN,2022-05-10 00:00:00,NaN
4,Achilles F Lobo,planejamento@vilasa.com.br,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-04-26 11:28:46,NaN,2022-05-10 11:28:46,NaN

In [7]:
df['Data de Cadastro'] = pd.to_datetime(df['Data de Cadastro'], format='%Y-%m-%d %H:%M:%S')
df['Data de Carência'] = pd.to_datetime(df['Data de Carência'], format='%Y-%m-%d %H:%M:%S')
df['Data de Cancelamento'] = pd.to_datetime(df['Data de Cancelamento'], format='%Y-%m-%d %H:%M:%S')
df.head()

,Nome,Email,Plano,Situação,Data de Cadastro,Data de Adesão,Data de Carência,Data de Cancelamento
0,Alexsander Júnior de Oliveira,alequiis.jr@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-04-26 15:33:57,NaN,2022-05-10 00:00:00,NaT
1,Arnaldo J R Cavalca Teste,naldocavalcanti@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-04-26 15:06:01,NaN,2022-05-10 15:06:01,NaT
2,Mateus Ferreira de Jesus,mateusferreiram4@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-04-26 14:23:29,NaN,2022-05-10 14:34:06,NaT
3,Anna Clara Meneguelo,annacpaternostro@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-04-26 11:42:49,NaN,2022-05-10 00:00:00,NaT
4,Achilles F Lobo,planejamento@vilasa.com.br,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-04-26 11:28:46,NaN,2022-05-10 11:28:46,NaT

In [15]:
df_funil_teste = df[(df['Data de Cadastro'] >= '2022-01-01') & (df['Situação'] == 'TESTE')].size
df_funil_teste
# df_compr = df[(df['Data de Adesão'] >= '2022-01-01') & (df['Situação'] == 'ATIVA')]
# df_compr.head()

336

In [12]:
df_funil_venda = df[(df['Data de Cadastro'] >= '2022-01-01') & (df['Situação'] == 'ATIVA')]
df_funil_venda.count()

,Nome,Email,Plano,Situação,Data de Cadastro,Data de Adesão,Data de Carência,Data de Cancelamento
18,Jéssica,doc@blockimoveis.com.br,R$ 71.91 / 50 Docs. / 20Gb,ATIVA,2022-04-20 11:23:33,NaN,2022-05-04 12:52:55,NaT
20,erro,eroooo@gmail.com,R$ 71.91 / 50 Docs. / 20Gb,ATIVA,2022-04-19 14:43:01,NaN,2022-05-03 14:43:01,2022-04-20 10:34:00
23,Arthur Vieira,vda.arthur.vieira@demillus.com.br,R$ 180.00 / 100 Docs. / 20Gb,ATIVA,2022-04-18 16:47:13,NaN,2022-05-03 12:08:44,NaT
47,Cláudia Lóss Machalowski Trindade,assistentehoteis1@coobrastur.com.br,R$ 1899.99 / 1000 Docs. / 30Gb,ATIVA,2022-04-12 16:17:49,NaN,2022-04-27 10:54:54,NaT
53,Jheneffer Pires Campanucci,jheneffer.campanucci@aepatrimonio.com.br,R$ 940.00 / 500 Docs. / 15Gb,ATIVA,2022-04-11 16:18:43,NaN,2022-04-25 16:25:46,NaT
54,Jessica Cristina Ap. A. Bezerra,jessica.andreotti@aepatrimonio.com.br,R$ 940.00 / 500 Docs. / 15Gb,ATIVA,2022-04-11 16:16:21,NaN,2022-05-03 17:57:29,NaT
65,PROVISÃO,provisao@coobmais.com.br,R$ 1899.99 / 1000 Docs. / 30Gb,ATIVA,2022-04-08 11:59:42,NaN,2022-04-22 12:28:56,NaT
68,Marcelo Machado,apoiologistico2@coobrastur.com.br,R$ 1899.99 / 1000 Docs. / 30Gb,ATIVA,2022-04-07 15:37:55,NaN,2022-04-22 14:22:04,NaT
73,Guilherme Cecilio de Oliveira Almeida,guilherme@gpjimobiliaria.com.br,R$ 49.90 / 25 Docs. / 5Gb,ATIVA,2022-04-07 13:24:42,2022-04-07 13:26:48,2022-04-21 13:24:42,NaT
85,TACIANE DA SILVA SOARES,soarees57@gmail.com,R$ 49.90 / 25 Docs. / 20Gb,ATIVA,2022-04-05 11:00:53,NaN,2022-04-19 11:00:53,NaT
86,KELWIN ANDRADE KOLV,kelwin@imoveisfv.com,R$ 49.90 / 25 Docs. / 20Gb,ATIVA,2022-04-05 11:00:01,NaN,2022-04-19 11:00:01,NaT
97,ANDRÉ SOUZA PRADO,andre@imoveisfv.com,R$ 49.90 / 25 Docs. / 20Gb,ATIVA,2022-04-04 15:56:31,2022-04-04 16:24:21,2022-04-18 15:56:31,NaT
121,Jeniffer Santos,jeniffer.santos@aepatrimonio.com.br,R$ 940.00 / 500 Docs. / 15Gb,ATIVA,2022-03-30 14:24:51,NaN,2022-04-14 11:09:27,NaT
125,ELZA MARINHA DA SILVA,administracao@imobiliariaformato.com.br,R$ 79.90 / 50 Docs. / 10Gb,ATIVA,2022-03-30 10:29:34,NaN,2022-04-13 16:46:05,NaT
126,ELAINE PEREIRA MARTINS,financeiro@imobiliariaformato.com.br,R$ 79.90 / 50 Docs. / 10Gb,ATIVA,2022-03-30 10:28:15,NaN,2022-04-13 10:41:48,NaT
136,Luiz Carlos Castelao de Souza,stm.canhotos@demillus.com.br,R$ 180.00 / 100 Docs. / 20Gb,ATIVA,2022-03-28 16:41:06,NaN,2022-04-12 09:11:35,NaT
151,Wallace Martins Peicho,wallace@blockimoveis.com.br,R$ 71.91 / 50 Docs. / 20Gb,ATIVA,2022-03-25 11:01:42,2022-04-01 15:14:42,2022-04-15 12:06:23,NaT
241,Fulano da Silva,rh@fast4sign.com.br,R$ 79.90 / 30 Docs. / 3Gb,ATIVA,2022-03-10 14:13:39,NaN,2022-03-24 14:13:39,NaT
262,José Novais dos Santos,novais@maxxcasa.com,R$ 79.90 / 50 Docs. / 5Gb,ATIVA,2022-03-07 18:21:53,2022-04-22 11:00:04,2022-03-21 18:21:53,NaT
263,Maria Eduarda Lima Bedim,sap.eduarda.bedim@demillus.com.br,R$ 180.00 / 100 Docs. / 20Gb,ATIVA,2022-03-07 15:59:02,NaN,2022-04-13 15:44:55,NaT
264,Andressa Santiago Pereira da Costa,sap.andressa.santiago@demillus.com.br,R$ 180.00 / 100 Docs. / 20Gb,ATIVA,2022-03-07 15:58:00,NaN,2022-03-22 16:02:26,NaT
265,Exacto Imóveis Ltda,administrativo@exactoimoveis.com.br,R$ 49.90 / 10 Docs. / 1Gb,ATIVA,2022-03-07 14:31:49,2022-03-07 14:33:42,2022-03-21 14:31:49,NaT
268,Alex Alexandre Quadros Fiuza,evorapk@gmail.com,R$ 79.90 / 50 Docs. / 20Gb,ATIVA,2022-03-30 09:42:37,2022-03-30 15:19:13,2022-04-14 19:30:14,NaT
270,Jacqueline Brasil,jbrasil@bestlar.com.br,R$ 59.90 / 20 Docs. / 1Gb,ATIVA,2022-03-05 12:13:54,NaN,2022-03-19 13:10:06,NaT
272,Fabio Maia do Valle,fabiovallenote@gmail.com,R$ 59.90 / 20 Docs. / 1Gb,ATIVA,2022-03-05 11:37:31,NaN,2022-03-19 11:52:05,NaT
282,Gilberto Testa,gtesta@cotraservi.com.br,R$ 1899.99 / 1000 Docs. / 30Gb,ATIVA,2022-03-04 10:31:20,NaN,2022-03-18 10:33:43,NaT
285,Lizete Stiebe,lstiebe@coobrastur.com.br,R$ 1899.99 / 1000 Docs. / 30Gb,ATIVA,2022-03-04 08:22:09,NaN,2022-03-18 08:26:43,NaT
287,Bestlar Negócios Imobiliários,contato@bestlar.com.br,R$ 59.90 / 20 Docs. / 1Gb,ATIVA,2022-03-03 22:54:50,2022-03-07 12:22:08,2022-03-17 22:54:50,NaT
295,Michelli Biasolli da Fonseca,mi_ldx@hotmail.com,R$ 59.90 / 20 Docs. / 1Gb,ATIVA,2022-03-03 09:41:15,NaN,2022-03-21 20:06:01,NaT
316,everton tavares vilela,vilelaimoveis@yahoo.com.br,R$ 59.90 / 20 Docs. / 1Gb,ATIVA,2022-02-25 18:21:48,2022-03-02 20:08:31,2022-03-11 18:21:48,NaT
318,Anadir,imoveisjoinvilleparalocacao@gmail.com,R$ 49.90 / 10 Docs. / 1Gb,ATIVA,2022-02-25 10:08:28,NaN,2022-03-11 10:11:24,NaT
349,terst,teste13123@hotmail.com,R$ 0.00 / 30 Docs. / 1Gb,ATIVA,2022-02-22 09:28:54,NaN,2022-03-08 09:28:54,NaT
350,TESTE DA SILVA,tes@teste.com,R$ 0.00 / 30 Docs. / 1Gb,ATIVA,2022-02-22 09:27:55,NaN,2022-03-08 09:27:55,NaT
392,DA FONSECA IMÓVEIS,michelli@dafonsecaimoveis.com.br,R$ 59.90 / 20 Docs. / 1Gb,ATIVA,2022-02-14 10:47:54,2022-03-03 10:13:07,2022-02-28 10:47:54,NaT
437,Letícia Guimarães,leticia@melloemiotto.com.br,R$ 1899.99 / 1000 Docs. / 30Gb,ATIVA,2022-02-04 15:38:05,NaN,2022-02-18 15:41:16,NaT
443,Mari Grimaldi,mari.grimaldi@mgm.com.br,R$ 59.90 / 20 Docs. / 1Gb,ATIVA,2022-02-04 10:16:46,NaN,2022-02-18 11:27:39,NaT
444,Matheus Grimaldi,administrativo2@mgm.com.br,R$ 59.90 / 20 Docs. / 1Gb,ATIVA,2022-02-04 09:41:06,NaN,2022-02-18 11:28:59,NaT
451,Marcelo Grimaldi,diretoria@mgm.com.br,R$ 59.90 / 20 Docs. / 1Gb,ATIVA,2022-02-04 09:25:26,2022-02-04 09:26:28,NaT,NaT
501,Brasil Tecnologia,adm@brasiltecnologia.tech,R$ 59.90 / 20 Docs. / 1Gb,ATIVA,2022-01-27 12:44:30,2020-08-24 16:11:56,2022-03-03 10:29:41,NaT
538,Bandeira Manzano,bandeiramanzano@gmail.com,R$ 49.90 / 10 Docs. / 1Gb,ATIVA,2022-01-21 17:50:47,2022-01-28 16:43:39,2022-02-04 17:50:47,NaT
546,Laís D. Macedo Martins,lmartins@mglestrategia.com.br,R$ 1899.99 / 1000 Docs. / 30Gb,ATIVA,2022-01-20 16:59:59,NaN,2022-02-04 10:24:13,NaT
597,Gabriel George,captador04@nortesulimoveis.com.br,R$ 282.00 / 150 Docs. / 30Gb,ATIVA,2022-01-12 16:15:06,NaN,2022-02-02 08:15:38,NaT
608,PAULA REGINA SILVA VANDERLEY,adm@herculesconstrutora.com.br,R$ 124.90 / 50 Docs. / 5Gb,ATIVA,2022-01-11 13:16:20,NaN,2022-01-25 13:16:20,NaT
609,CENTRO DE EXAMES SUPLETIVOS,superdiretor@gmail.com,R$ 49.90 / 25 Docs. / 5Gb,ATIVA,2022-01-11 12:23:30,2022-04-19 10:07:57,NaT,NaT
613,Marcos,hoteis4@coobrastur.com.br,R$ 1899.99 / 1000 Docs. / 30Gb,ATIVA,2022-01-10 15:16:36,NaN,2022-04-08 08:29:56,NaT
630,Bianca Natalia Guntschnig,executivo2@coobrastur.com.br,R$ 1899.99 / 1000 Docs. / 30Gb,ATIVA,2022-01-06 13:47:53,NaN,2022-01-20 14:08:05,NaT
645,Marli Wagner,mwagner@coobrastur.com.br,R$ 1899.99 / 1000 Docs. / 30Gb,ATIVA,2022-01-03 10:55:55,NaN,2022-01-17 13:36:26,NaT
646,Debora Heringer,dheringer@mglestrategia.com.br,R$ 1899.99 / 1000 Docs. / 30Gb,ATIVA,2022-01-03 10:31:05,NaN,2022-01-17 10:34:43,NaT
648,Carlos Lopes,universidadeimoveis@gmail.com,R$ 49.90 / 10 Docs. / 1Gb,ATIVA,2022-01-03 11:55:13,2022-02-01 15:45:30,2022-01-17 11:55:13,NaT

In [41]:
geral = len(df.index)+len(df_funil_venda.index)
geral

22479

# concat dataset

In [23]:
df_funil = df[(df['Data de Cadastro'] >= '2022-01-01') & (df['Situação'] != 'INATIVA_PAG')]

In [24]:
df_gruped = df_funil.groupby(['Situação']).size().reset_index(name='Total')
df_gruped

    Situação  Total
0      ATIVA     49
1  CANCELADA      4
2   GRATUITO    553
3      TESTE     42

In [27]:
print(df_gruped['Situação'])

0        ATIVA
1    CANCELADA
2     GRATUITO
3        TESTE
Name: Situação, dtype: object

In [28]:
print(df_gruped['Total'])

0     49
1      4
2    553
3     42
Name: Total, dtype: int64

In [33]:
df_gruped2 = df_gruped.copy()
print('Original DataFrame\n------------------')
print(df_gruped)

new_row1 = {'Situação':'IMPRESSOES', 'Total':252404}
new_row2 = {'Situação':'CLIQUES', 'Total':6932}

#append row to the dataframe
df_gruped2 = df_gruped2.append(new_row1, ignore_index=True)
df_gruped2 = df_gruped2.append(new_row2, ignore_index=True)
print('\n\nNew row added to DataFrame\n--------------------------')
print(df_gruped2)

Original DataFrame
------------------
    Situação  Total
0      ATIVA     49
1  CANCELADA      4
2   GRATUITO    553
3      TESTE     42


New row added to DataFrame
--------------------------
     Situação   Total
0       ATIVA      49
1   CANCELADA       4
2    GRATUITO     553
3       TESTE      42
4  IMPRESSOES  252404
5     CLIQUES    6932

In [34]:
df_gruped2

     Situação   Total
0       ATIVA      49
1   CANCELADA       4
2    GRATUITO     553
3       TESTE      42
4  IMPRESSOES  252404
5     CLIQUES    6932

In [35]:
order = ['IMPRESSOES', 'CLIQUES', 'TESTE', 'GRATUITO', 'ATIVA', 'CANCELADA']
df_gruped2 = df_gruped2.reindex(df_gruped2['Situação'].map(dict(zip(order, range(len(order))))).sort_values().index)

In [36]:
df_gruped2

     Situação   Total
4  IMPRESSOES  252404
5     CLIQUES    6932
3       TESTE      42
2    GRATUITO     553
0       ATIVA      49
1   CANCELADA       4