In [1]:
#basic imports
import pandas as pd
import numpy as np
import matplotlib as mpl
import json

%matplotlib inline
import warnings
import datetime as dt

# for visualizations
import matplotlib.pyplot as plt
import seaborn as sns


# for interactive visualizations
import plotly.offline as py
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
from plotly import tools
init_notebook_mode(connected = True)
import plotly.figure_factory as ff

warnings.filterwarnings("ignore")

In [2]:
file = "../datasets/empresas.csv"
import chardet
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'Windows-1252', 'confidence': 0.7224207175581603, 'language': ''}

In [3]:
#mydateparser = lambda x: pd.datetime.strptime(x, "%d/%m/%Y ")
df = pd.read_csv("../datasets/empresas.csv", sep=';', encoding = 'Windows-1252')
df.head()

,Nome,Email,CNPJ,Preço,Situação,Atrasado,Arquivos,Usuários,Estado,Cidade,Data de Adesão,Data de Carência,Data de Cancelamento,Armazenamento
0,W A M Serviços Contábeis Ltda,serconcontabil@uol.com.br,10.996.910/0001-20,0.0,TESTE,0,1,0,SÃ£o Paulo,Bauru,NaN,2022-04-21 15:24:18,NaN,0.0
1,gpj imobiliária,guilherme@gpjimobiliaria.com.br,44.607.426/0001-83,49.9,ATIVA,0,0,0,MG,Nova Serrana,2022-04-07 13:26:48,2022-04-21 13:24:42,NaN,0.0
2,Primor Vistorias Imobiliárias,administrativo@primorvistorias.com.br,39.621.308/0001-90,0.0,TESTE,0,1,0,Rio de Janeiro,Rio de Janeiro,NaN,2022-04-20 15:18:07,NaN,0.0
3,SGW CONSTRUCOES E ADMINISTRACOES LTDA,geovania.r@hotmail.com,44.573.162/0001-94,0.0,TESTE,0,4,0,São Paulo,Bauru,NaN,2022-04-19 10:51:04,NaN,0.0
4,FV IMÓVEIS,administrativo@imoveisfv.com,25.101.659/0001-65,49.9,ATIVA,0,2,2,Santa Catarina,Balneário Camboriú,2022-04-04 16:24:21,2022-04-18 15:56:31,NaN,0.0

In [4]:
br_estados = {
    'Acre' : 'AC',
    'Alagoas' : 'AL',
    'Amapá' : 'AP',
    'Amazonas' : 'AM',
    'Bahia' : 'BA',
    'Ceará' : 'CE',
    'Distrito Federal' : 'DF',
    'Espírito Santo' : 'ES',
    'Goiás' : 'GO',
    'Maranhão' : 'MA',
    'Mato Grosso' : 'MT',
    'Mato Grosso do Sul' : 'MS',
    'Minas Gerais' : 'MG',
    'Pará' : 'PA',
    'Paraíba' : 'PB',
    'Paraná' : 'PR',
    'Pernambuco' : 'PE',
    'Piauí' : 'PI',
    'Rio de Janeiro' : 'RJ',
    'Rio Grande do Norte' : 'RN',
    'Rio Grande do Sul' : 'RS',
    'Rondônia' : 'RO',
    'Roraima' : 'RR',
    'Santa Catarina' : 'SC',
    'São Paulo' : 'SP',
    'SÃ£o Paulo': 'SP',
    'Sergipe' : 'SE',
    'Tocantins' : 'TO'
}

df['Estado'] = df.Estado.replace(br_estados)
df

,Nome,Email,CNPJ,Preço,Situação,Atrasado,Arquivos,Usuários,Estado,Cidade,Data de Adesão,Data de Carência,Data de Cancelamento,Armazenamento
0,W A M Serviços Contábeis Ltda,serconcontabil@uol.com.br,10.996.910/0001-20,0.0,TESTE,0,1,0,SP,Bauru,NaN,2022-04-21 15:24:18,NaN,0.0
1,gpj imobiliária,guilherme@gpjimobiliaria.com.br,44.607.426/0001-83,49.9,ATIVA,0,0,0,MG,Nova Serrana,2022-04-07 13:26:48,2022-04-21 13:24:42,NaN,0.0
2,Primor Vistorias Imobiliárias,administrativo@primorvistorias.com.br,39.621.308/0001-90,0.0,TESTE,0,1,0,RJ,Rio de Janeiro,NaN,2022-04-20 15:18:07,NaN,0.0
3,SGW CONSTRUCOES E ADMINISTRACOES LTDA,geovania.r@hotmail.com,44.573.162/0001-94,0.0,TESTE,0,4,0,SP,Bauru,NaN,2022-04-19 10:51:04,NaN,0.0
4,FV IMÓVEIS,administrativo@imoveisfv.com,25.101.659/0001-65,49.9,ATIVA,0,2,2,SC,Balneário Camboriú,2022-04-04 16:24:21,2022-04-18 15:56:31,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,Paes Imóveis LTDA,contato@paesimoveis.com,02.255.145/0001-69,90.0,ATIVA,0,396,9,SC,Florianópolis,2020-09-18 17:08:14,2020-10-07 23:59:59,NaN,0.0
454,frança programação ME,tfranca2@gmail.com,16.929.335/0001-29,0.0,GRATUITO,0,30,3,SP,Campinas,2020-09-18 17:08:14,NaN,NaN,0.0
455,ADN23,contato@adn23.com.br,NaN,0.0,GRATUITO,0,12,0,SP,São Paulo,NaN,2020-02-17 23:59:59,NaN,0.0
456,Fz Imoveis LTDA,fz@fzimoveis.com.br,07.340.995/0001-89,0.0,GRATUITO,0,2,1,CE,Fortaleza,NaN,2020-04-30 23:59:59,NaN,0.0
457,Devolus Smart Solutions,contato@devolus.com,85.350.615/0001-09,59.9,INATIVA_PAG,0,48,0,CE,Fortaleza,2020-07-28 09:54:23,2020-01-31 23:59:59,2021-03-12 13:07:13,0.0

In [5]:
br_estados_ajuste = {
    'SÃƒÂ£o Paulo' : 'SP',
    'SÃƒÂ£o Paulo' : 'SP',
    'CearÃƒÂ¡' : 'CE',
    'SÃƒÂ£o Paulo' : 'SP',
    'Selecione' : 'SP',
    'ParÃƒÂƒÃ‚ÂƒÃƒÂ‚Ã‚Â¡' : 'PA',
    'SÃƒÂƒÃ‚Â£o Paulo' : 'SP',
    'SÃƒÂ£o Paulo' : 'SP', 
    'SÃƒÂ£o Paulo' : 'SP'
}

df['Estado'] = df.Estado.replace(br_estados_ajuste)
df

,Nome,Email,CNPJ,Preço,Situação,Atrasado,Arquivos,Usuários,Estado,Cidade,Data de Adesão,Data de Carência,Data de Cancelamento,Armazenamento
0,W A M Serviços Contábeis Ltda,serconcontabil@uol.com.br,10.996.910/0001-20,0.0,TESTE,0,1,0,SP,Bauru,NaN,2022-04-21 15:24:18,NaN,0.0
1,gpj imobiliária,guilherme@gpjimobiliaria.com.br,44.607.426/0001-83,49.9,ATIVA,0,0,0,MG,Nova Serrana,2022-04-07 13:26:48,2022-04-21 13:24:42,NaN,0.0
2,Primor Vistorias Imobiliárias,administrativo@primorvistorias.com.br,39.621.308/0001-90,0.0,TESTE,0,1,0,RJ,Rio de Janeiro,NaN,2022-04-20 15:18:07,NaN,0.0
3,SGW CONSTRUCOES E ADMINISTRACOES LTDA,geovania.r@hotmail.com,44.573.162/0001-94,0.0,TESTE,0,4,0,SP,Bauru,NaN,2022-04-19 10:51:04,NaN,0.0
4,FV IMÓVEIS,administrativo@imoveisfv.com,25.101.659/0001-65,49.9,ATIVA,0,2,2,SC,Balneário Camboriú,2022-04-04 16:24:21,2022-04-18 15:56:31,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,Paes Imóveis LTDA,contato@paesimoveis.com,02.255.145/0001-69,90.0,ATIVA,0,396,9,SC,Florianópolis,2020-09-18 17:08:14,2020-10-07 23:59:59,NaN,0.0
454,frança programação ME,tfranca2@gmail.com,16.929.335/0001-29,0.0,GRATUITO,0,30,3,SP,Campinas,2020-09-18 17:08:14,NaN,NaN,0.0
455,ADN23,contato@adn23.com.br,NaN,0.0,GRATUITO,0,12,0,SP,São Paulo,NaN,2020-02-17 23:59:59,NaN,0.0
456,Fz Imoveis LTDA,fz@fzimoveis.com.br,07.340.995/0001-89,0.0,GRATUITO,0,2,1,CE,Fortaleza,NaN,2020-04-30 23:59:59,NaN,0.0
457,Devolus Smart Solutions,contato@devolus.com,85.350.615/0001-09,59.9,INATIVA_PAG,0,48,0,CE,Fortaleza,2020-07-28 09:54:23,2020-01-31 23:59:59,2021-03-12 13:07:13,0.0

In [6]:
#verificando se tem estados ainda errados
print(df[df['Estado'].str.len() > 2.0])

Empty DataFrame
Columns: [Nome, Email, CNPJ, Preço, Situação, Atrasado, Arquivos, Usuários, Estado, Cidade, Data de Adesão, Data de Carência, Data de Cancelamento, Armazenamento]
Index: []

In [7]:
df['Data de Adesão'] = pd.to_datetime(df['Data de Adesão'], format='%Y-%m-%d %H:%M:%S')
df['Data de Carência'] = pd.to_datetime(df['Data de Carência'], format='%Y-%m-%d %H:%M:%S')
df['Data de Cancelamento'] = pd.to_datetime(df['Data de Cancelamento'], format='%Y-%m-%d %H:%M:%S')
df.head()

,Nome,Email,CNPJ,Preço,Situação,Atrasado,Arquivos,Usuários,Estado,Cidade,Data de Adesão,Data de Carência,Data de Cancelamento,Armazenamento
0,W A M Serviços Contábeis Ltda,serconcontabil@uol.com.br,10.996.910/0001-20,0.0,TESTE,0,1,0,SP,Bauru,NaT,2022-04-21 15:24:18,NaT,0.0
1,gpj imobiliária,guilherme@gpjimobiliaria.com.br,44.607.426/0001-83,49.9,ATIVA,0,0,0,MG,Nova Serrana,2022-04-07 13:26:48,2022-04-21 13:24:42,NaT,0.0
2,Primor Vistorias Imobiliárias,administrativo@primorvistorias.com.br,39.621.308/0001-90,0.0,TESTE,0,1,0,RJ,Rio de Janeiro,NaT,2022-04-20 15:18:07,NaT,0.0
3,SGW CONSTRUCOES E ADMINISTRACOES LTDA,geovania.r@hotmail.com,44.573.162/0001-94,0.0,TESTE,0,4,0,SP,Bauru,NaT,2022-04-19 10:51:04,NaT,0.0
4,FV IMÓVEIS,administrativo@imoveisfv.com,25.101.659/0001-65,49.9,ATIVA,0,2,2,SC,Balneário Camboriú,2022-04-04 16:24:21,2022-04-18 15:56:31,NaT,0.0

In [8]:
df_compr = df[(df['Data de Adesão'] >= '2022-01-01')]
df_compr.head()

,Nome,Email,CNPJ,Preço,Situação,Atrasado,Arquivos,Usuários,Estado,Cidade,Data de Adesão,Data de Carência,Data de Cancelamento,Armazenamento
1,gpj imobiliária,guilherme@gpjimobiliaria.com.br,44.607.426/0001-83,49.90,ATIVA,0,0,0,MG,Nova Serrana,2022-04-07 13:26:48,2022-04-21 13:24:42,NaT,0.0
4,FV IMÓVEIS,administrativo@imoveisfv.com,25.101.659/0001-65,49.90,ATIVA,0,2,2,SC,Balneário Camboriú,2022-04-04 16:24:21,2022-04-18 15:56:31,NaT,0.0
6,Alex Alexandre Quadros Fiuza,evorapk@gmail.com,593.708.230-34,79.90,ATIVA,0,0,0,NaN,NaN,2022-03-30 15:19:13,2022-04-14 19:30:14,NaT,0.0
12,Block Imóveis Ltda,wallace@blockimoveis.com.br,26.475.689/0001-02,71.91,ATIVA,0,3,0,RJ,Rio de Janeiro,2022-04-01 15:14:42,2022-04-15 12:06:23,NaT,0.0
25,Morar Imobiliria Eireli,leandroteixeira01@outlook.com,097.131.337-73,49.90,ATIVA,0,3,0,AM,Manaus,2022-03-15 14:33:56,2022-03-28 18:02:32,NaT,0.0

In [9]:
df_compr['mes'] = pd.DatetimeIndex(df_compr['Data de Adesão']).month
# df['mes_canc'] = df['mes_canc'].astype(int, errors='ignore')
df_compr['mes'] = df_compr['mes'].fillna(0).astype(int)

df_compr.head()

,Nome,Email,CNPJ,Preço,Situação,Atrasado,Arquivos,Usuários,Estado,Cidade,Data de Adesão,Data de Carência,Data de Cancelamento,Armazenamento,mes
1,gpj imobiliária,guilherme@gpjimobiliaria.com.br,44.607.426/0001-83,49.90,ATIVA,0,0,0,MG,Nova Serrana,2022-04-07 13:26:48,2022-04-21 13:24:42,NaT,0.0,4
4,FV IMÓVEIS,administrativo@imoveisfv.com,25.101.659/0001-65,49.90,ATIVA,0,2,2,SC,Balneário Camboriú,2022-04-04 16:24:21,2022-04-18 15:56:31,NaT,0.0,4
6,Alex Alexandre Quadros Fiuza,evorapk@gmail.com,593.708.230-34,79.90,ATIVA,0,0,0,NaN,NaN,2022-03-30 15:19:13,2022-04-14 19:30:14,NaT,0.0,3
12,Block Imóveis Ltda,wallace@blockimoveis.com.br,26.475.689/0001-02,71.91,ATIVA,0,3,0,RJ,Rio de Janeiro,2022-04-01 15:14:42,2022-04-15 12:06:23,NaT,0.0,4
25,Morar Imobiliria Eireli,leandroteixeira01@outlook.com,097.131.337-73,49.90,ATIVA,0,3,0,AM,Manaus,2022-03-15 14:33:56,2022-03-28 18:02:32,NaT,0.0,3

In [10]:
import calendar
result = []
for i in df_compr['mes']:
    result.append(calendar.month_abbr[i])
df_compr['month'] = result
print(result)

['Apr', 'Apr', 'Mar', 'Apr', 'Mar', 'Mar', 'Mar', 'Mar', 'Mar', 'Feb', 'Mar', 'Feb', 'Feb', 'Jan', 'Jan', 'Feb', 'Jan', 'Jan', 'Jan', 'Feb', 'Mar']

In [11]:
df_compr.drop('mes', axis=1, inplace=True)
df_compr

,Nome,Email,CNPJ,Preço,Situação,Atrasado,Arquivos,Usuários,Estado,Cidade,Data de Adesão,Data de Carência,Data de Cancelamento,Armazenamento,month
1,gpj imobiliária,guilherme@gpjimobiliaria.com.br,44.607.426/0001-83,49.90,ATIVA,0,0,0,MG,Nova Serrana,2022-04-07 13:26:48,2022-04-21 13:24:42,NaT,0.0,Apr
4,FV IMÓVEIS,administrativo@imoveisfv.com,25.101.659/0001-65,49.90,ATIVA,0,2,2,SC,Balneário Camboriú,2022-04-04 16:24:21,2022-04-18 15:56:31,NaT,0.0,Apr
6,Alex Alexandre Quadros Fiuza,evorapk@gmail.com,593.708.230-34,79.90,ATIVA,0,0,0,NaN,NaN,2022-03-30 15:19:13,2022-04-14 19:30:14,NaT,0.0,Mar
12,Block Imóveis Ltda,wallace@blockimoveis.com.br,26.475.689/0001-02,71.91,ATIVA,0,3,0,RJ,Rio de Janeiro,2022-04-01 15:14:42,2022-04-15 12:06:23,NaT,0.0,Apr
25,Morar Imobiliria Eireli,leandroteixeira01@outlook.com,097.131.337-73,49.90,ATIVA,0,3,0,AM,Manaus,2022-03-15 14:33:56,2022-03-28 18:02:32,NaT,0.0,Mar
35,Exacto Imóveis Ltda,administrativo@exactoimoveis.com.br,22.961.776/0001-00,49.90,ATIVA,0,9,0,SP,Campinas,2022-03-07 14:33:42,2022-03-21 14:31:49,NaT,0.0,Mar
39,BESTLAR Negócios Imobiliários Ltda,contato@bestlar.com.br,10.783.341/0001-34,59.90,ATIVA,0,8,2,SP,Cotia,2022-03-07 12:22:08,2022-03-17 22:54:50,NaT,0.0,Mar
40,Masotti,manutencao.masotti@gmail.com,09.429.078/0001-09,59.90,ATIVA,0,0,0,SP,Indaiatuba,2022-03-16 15:24:49,2022-03-17 14:31:37,NaT,0.0,Mar
45,tavil tavares vilela ltda,vilelaimoveis@yahoo.com.br,39.202.841/0001-17,59.90,ATIVA,0,4,0,RJ,Miguel Pereira,2022-03-02 20:08:31,2022-03-11 18:21:48,NaT,0.0,Mar
46,FS Advogado Associados,clellons@aasp.org.br,44.602.987/0001-90,159.90,CANCELADA,0,2,0,SP,São Paulo,2022-02-24 20:13:29,NaT,2022-03-25 14:16:25,0.0,Feb
57,DA FONSECA IMÓVEIS LTDA,michelli@dafonsecaimoveis.com.br,45.121.304/0001-45,59.90,ATIVA,0,24,1,SP,Osasco,2022-03-03 10:13:07,2022-02-28 10:47:54,NaT,0.0,Mar
64,Jhenniffer Castelão Sezerino Zocchi,jhenni.zocchi@gmail.com,949.725.751-15,49.90,CANCELADA,1,1,0,MS,Ponta Porã,2022-02-08 14:48:02,NaT,2022-03-10 11:35:52,0.0,Feb
67,MGM LOC. DE BENS MOV. ASS. DESIGN E MONT. PROM...,diretoria@mgm.com.br,00.261.791/0001-03,59.90,ATIVA,0,70,2,SP,São Paulo,2022-02-04 09:26:28,NaT,NaT,0.0,Feb
75,Luciano Mitiura Koharata,lumitiura@gmail.com,559.107.859-15,49.90,ATIVA,0,0,0,SP,São Caetano do Sul,2022-01-31 20:48:09,2022-02-14 20:43:05,NaT,0.0,Jan
85,BANDEIRA MANZANO ASSESSORIA IMOBILI,bandeiramanzano@gmail.com,09.132.517/0001-09,49.90,ATIVA,0,12,0,SP,Indaiatuba,2022-01-28 16:43:39,2022-02-04 17:50:47,NaT,0.0,Jan
87,TRF Negócios Imobiliários Ltda.,contato.trfimob@gmail.com,37.600.333/0001-61,49.90,CANCELADA,0,9,0,SC,Itajaí,2022-02-03 15:57:53,2022-04-11 09:43:09,2022-03-22 00:03:14,0.0,Feb
89,Paulo Dias Corretor de Imóveis Eireli,comercial@paulodiascorretorhp.com.br,34.595.951/0001-72,49.90,ATIVA,0,14,0,SC,Balneário Camboriú,2022-01-19 09:38:08,2022-02-02 09:33:49,NaT,0.0,Jan
90,Antonio Luiz Fernandes Ribeiro,antonio.luiz@aic.com.br,109.057.238-72,49.90,ATIVA,0,10,0,SP,SÃO PAULO,2022-01-18 15:57:10,2021-10-05 17:48:13,NaT,0.0,Jan
94,Thiago Ribeiro Furtado,thiagofurtadocorretor@gmail.com,009.278.359-75,0.00,CANCELADA,0,10,0,SC,Itajaí,2022-01-13 18:49:32,2022-04-11 09:39:18,2022-01-18 00:03:07,0.0,Jan
100,CL Administradora de Bens Ltda EPP,universidadeimoveis@gmail.com,19.928.000/0001-84,49.90,ATIVA,0,24,1,NaN,NaN,2022-02-01 15:45:30,2022-01-17 11:55:13,NaT,0.0,Feb
225,Kaleby Juan,kalebyjuan@hotmail.com,20.014.704/0001-20,0.00,ATIVA,0,38,3,CE,Fortaleza,2022-03-25 14:55:29,NaT,NaT,0.0,Mar

In [13]:
df_compr.sort_values("month")

,Nome,Email,CNPJ,Preço,Situação,Atrasado,Arquivos,Usuários,Estado,Cidade,Data de Adesão,Data de Carência,Data de Cancelamento,Armazenamento,month
1,gpj imobiliária,guilherme@gpjimobiliaria.com.br,44.607.426/0001-83,49.90,ATIVA,0,0,0,MG,Nova Serrana,2022-04-07 13:26:48,2022-04-21 13:24:42,NaT,0.0,Apr
4,FV IMÓVEIS,administrativo@imoveisfv.com,25.101.659/0001-65,49.90,ATIVA,0,2,2,SC,Balneário Camboriú,2022-04-04 16:24:21,2022-04-18 15:56:31,NaT,0.0,Apr
12,Block Imóveis Ltda,wallace@blockimoveis.com.br,26.475.689/0001-02,71.91,ATIVA,0,3,0,RJ,Rio de Janeiro,2022-04-01 15:14:42,2022-04-15 12:06:23,NaT,0.0,Apr
87,TRF Negócios Imobiliários Ltda.,contato.trfimob@gmail.com,37.600.333/0001-61,49.90,CANCELADA,0,9,0,SC,Itajaí,2022-02-03 15:57:53,2022-04-11 09:43:09,2022-03-22 00:03:14,0.0,Feb
46,FS Advogado Associados,clellons@aasp.org.br,44.602.987/0001-90,159.90,CANCELADA,0,2,0,SP,São Paulo,2022-02-24 20:13:29,NaT,2022-03-25 14:16:25,0.0,Feb
100,CL Administradora de Bens Ltda EPP,universidadeimoveis@gmail.com,19.928.000/0001-84,49.90,ATIVA,0,24,1,NaN,NaN,2022-02-01 15:45:30,2022-01-17 11:55:13,NaT,0.0,Feb
64,Jhenniffer Castelão Sezerino Zocchi,jhenni.zocchi@gmail.com,949.725.751-15,49.90,CANCELADA,1,1,0,MS,Ponta Porã,2022-02-08 14:48:02,NaT,2022-03-10 11:35:52,0.0,Feb
67,MGM LOC. DE BENS MOV. ASS. DESIGN E MONT. PROM...,diretoria@mgm.com.br,00.261.791/0001-03,59.90,ATIVA,0,70,2,SP,São Paulo,2022-02-04 09:26:28,NaT,NaT,0.0,Feb
94,Thiago Ribeiro Furtado,thiagofurtadocorretor@gmail.com,009.278.359-75,0.00,CANCELADA,0,10,0,SC,Itajaí,2022-01-13 18:49:32,2022-04-11 09:39:18,2022-01-18 00:03:07,0.0,Jan
90,Antonio Luiz Fernandes Ribeiro,antonio.luiz@aic.com.br,109.057.238-72,49.90,ATIVA,0,10,0,SP,SÃO PAULO,2022-01-18 15:57:10,2021-10-05 17:48:13,NaT,0.0,Jan
89,Paulo Dias Corretor de Imóveis Eireli,comercial@paulodiascorretorhp.com.br,34.595.951/0001-72,49.90,ATIVA,0,14,0,SC,Balneário Camboriú,2022-01-19 09:38:08,2022-02-02 09:33:49,NaT,0.0,Jan
85,BANDEIRA MANZANO ASSESSORIA IMOBILI,bandeiramanzano@gmail.com,09.132.517/0001-09,49.90,ATIVA,0,12,0,SP,Indaiatuba,2022-01-28 16:43:39,2022-02-04 17:50:47,NaT,0.0,Jan
75,Luciano Mitiura Koharata,lumitiura@gmail.com,559.107.859-15,49.90,ATIVA,0,0,0,SP,São Caetano do Sul,2022-01-31 20:48:09,2022-02-14 20:43:05,NaT,0.0,Jan
57,DA FONSECA IMÓVEIS LTDA,michelli@dafonsecaimoveis.com.br,45.121.304/0001-45,59.90,ATIVA,0,24,1,SP,Osasco,2022-03-03 10:13:07,2022-02-28 10:47:54,NaT,0.0,Mar
40,Masotti,manutencao.masotti@gmail.com,09.429.078/0001-09,59.90,ATIVA,0,0,0,SP,Indaiatuba,2022-03-16 15:24:49,2022-03-17 14:31:37,NaT,0.0,Mar
39,BESTLAR Negócios Imobiliários Ltda,contato@bestlar.com.br,10.783.341/0001-34,59.90,ATIVA,0,8,2,SP,Cotia,2022-03-07 12:22:08,2022-03-17 22:54:50,NaT,0.0,Mar
35,Exacto Imóveis Ltda,administrativo@exactoimoveis.com.br,22.961.776/0001-00,49.90,ATIVA,0,9,0,SP,Campinas,2022-03-07 14:33:42,2022-03-21 14:31:49,NaT,0.0,Mar
25,Morar Imobiliria Eireli,leandroteixeira01@outlook.com,097.131.337-73,49.90,ATIVA,0,3,0,AM,Manaus,2022-03-15 14:33:56,2022-03-28 18:02:32,NaT,0.0,Mar
6,Alex Alexandre Quadros Fiuza,evorapk@gmail.com,593.708.230-34,79.90,ATIVA,0,0,0,NaN,NaN,2022-03-30 15:19:13,2022-04-14 19:30:14,NaT,0.0,Mar
45,tavil tavares vilela ltda,vilelaimoveis@yahoo.com.br,39.202.841/0001-17,59.90,ATIVA,0,4,0,RJ,Miguel Pereira,2022-03-02 20:08:31,2022-03-11 18:21:48,NaT,0.0,Mar
225,Kaleby Juan,kalebyjuan@hotmail.com,20.014.704/0001-20,0.00,ATIVA,0,38,3,CE,Fortaleza,2022-03-25 14:55:29,NaT,NaT,0.0,Mar

# Preparando Ativos

In [14]:
df_compr2 = df_compr[['mes']
df_compr2

     mes  Preço
1      4  49.90
4      4  49.90
6      3  79.90
12     4  71.91
25     3  49.90
35     3  49.90
39     3  59.90
40     3  59.90
45     3  59.90
57     3  59.90
67     2  59.90
75     1  49.90
85     1  49.90
89     1  49.90
90     1  49.90
100    2  49.90
225    3   0.00

In [15]:
import calendar
result = []
for i in df_compr2['mes']:
    result.append(calendar.month_abbr[i])
df_compr2['month'] = result
print(result)

['Apr', 'Apr', 'Mar', 'Apr', 'Mar', 'Mar', 'Mar', 'Mar', 'Mar', 'Mar', 'Feb', 'Jan', 'Jan', 'Jan', 'Jan', 'Feb', 'Mar']

In [19]:
df_compr2

     Preço month
1    49.90   Apr
4    49.90   Apr
6    79.90   Mar
12   71.91   Apr
25   49.90   Mar
35   49.90   Mar
39   59.90   Mar
40   59.90   Mar
45   59.90   Mar
57   59.90   Mar
67   59.90   Feb
75   49.90   Jan
85   49.90   Jan
89   49.90   Jan
90   49.90   Jan
100  49.90   Feb
225   0.00   Mar

In [21]:
df_compr_gr2 = (df_compr2.groupby(['month'])['Preço'].agg(['sum']).sort_values(by='sum', ascending=False).reset_index())
df_compr_gr2

  month     sum
0   Mar  419.30
1   Jan  199.60
2   Apr  171.71
3   Feb  109.80

In [22]:
months = ["Jan", 
          "Feb", "Mar", "Apr"]
df_compr_gr2['month'] = pd.Categorical(df_compr_gr2['month'], categories=months, ordered=True)
df_compr_gr2.sort_values(by='month', ascending = True, inplace=True)

df_compr_gr2

  month     sum
1   Jan  199.60
3   Feb  109.80
0   Mar  419.30
2   Apr  171.71

In [23]:
df_compr_gr2.sort_values("month")

  month     sum
1   Jan  199.60
3   Feb  109.80
0   Mar  419.30
2   Apr  171.71

In [24]:
df_compr_gr2.rename(columns = {'sum':'Total'}, inplace = True)
df_compr_gr2

  month   Total
1   Jan  199.60
3   Feb  109.80
0   Mar  419.30
2   Apr  171.71

In [25]:
df_compr_gr2.to_csv("../datasets/sales_mensal.csv")

# Ativos por UF

In [26]:
df_compr_uf = df_compr[['Estado','Preço']]
df_compr_uf

    Estado  Preço
1       MG  49.90
4       SC  49.90
6      NaN  79.90
12      RJ  71.91
25      AM  49.90
35      SP  49.90
39      SP  59.90
40      SP  59.90
45      RJ  59.90
57      SP  59.90
67      SP  59.90
75      SP  49.90
85      SP  49.90
89      SC  49.90
90      SP  49.90
100    NaN  49.90
225     CE   0.00