In [1]:
#basic imports
import pandas as pd
import numpy as np
import matplotlib as mpl
import json

%matplotlib inline
import warnings
import datetime as dt

# for visualizations
import matplotlib.pyplot as plt
import seaborn as sns


# for interactive visualizations
import plotly.offline as py
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
from plotly import tools
init_notebook_mode(connected = True)
import plotly.figure_factory as ff


warnings.filterwarnings("ignore")

# Carregando e preparando arquivo google

Como gerei o arquivo: filtro anual de cliques tirado do adwords da Devolus (pesquisa)

In [2]:
df = pd.read_csv("../datasets/google_st_2022_3.csv", sep=',')
df.head()

            Mês  Cliques  Impressões CPC médio    Custo
0  dez. de 2012      0.0         0.0   R$ 0,00  R$ 0,00
1  jan. de 2013      0.0         0.0   R$ 0,00  R$ 0,00
2  fev. de 2013      0.0         0.0   R$ 0,00  R$ 0,00
3  mar. de 2013      0.0         0.0   R$ 0,00  R$ 0,00
4  abr. de 2013      0.0         0.0   R$ 0,00  R$ 0,00

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Mês         112 non-null    object
 1   Cliques     112 non-null    float64
 2   Impressões  112 non-null    float64
 3   CPC médio   112 non-null    object
 4   Custo       112 non-null    object
dtypes: float64(2), object(3)
memory usage: 4.5+ KB

In [4]:
df.shape

(112, 5)

In [5]:
df

              Mês  Cliques  Impressões CPC médio        Custo
0    dez. de 2012    0.000       0.000   R$ 0,00      R$ 0,00
1    jan. de 2013    0.000       0.000   R$ 0,00      R$ 0,00
2    fev. de 2013    0.000       0.000   R$ 0,00      R$ 0,00
3    mar. de 2013    0.000       0.000   R$ 0,00      R$ 0,00
4    abr. de 2013    0.000       0.000   R$ 0,00      R$ 0,00
..            ...      ...         ...       ...          ...
107  nov. de 2021    1.182      26.051   R$ 1,21  R$ 1.429,82
108  dez. de 2021    1.186      20.531   R$ 1,25  R$ 1.483,94
109  jan. de 2022    1.114      22.327   R$ 1,23  R$ 1.364,89
110  fev. de 2022    1.044      19.966   R$ 1,23  R$ 1.283,63
111  mar. de 2022  594.000      11.209   R$ 1,31    R$ 779,56

[112 rows x 5 columns]

In [6]:
#usando regex para pegar somente o mês da data que vem do aquivo do google
import datetime
import re
pattern = "r'\b\[harry\]\b'"
result = []
for i in df['Mês']:
    result.append(re.findall(r'(?:Jan|Fev|Mar|Abr|Jun|Jul|Ago|Set|Out|Nov|Dez)[a-z]*',i,flags=re.IGNORECASE))
df['mes'] = result
print(result)

[['dez'], ['jan'], ['fev'], ['mar'], ['abr'], [], ['jun'], ['jul'], ['ago'], ['set'], ['out'], ['nov'], ['dez'], ['jan'], ['fev'], ['mar'], ['abr'], [], ['jun'], ['jul'], ['ago'], ['set'], ['out'], ['nov'], ['dez'], ['jan'], ['fev'], ['mar'], ['abr'], [], ['jun'], ['jul'], ['ago'], ['set'], ['out'], ['nov'], ['dez'], ['jan'], ['fev'], ['mar'], ['abr'], [], ['jun'], ['jul'], ['ago'], ['set'], ['out'], ['nov'], ['dez'], ['jan'], ['fev'], ['mar'], ['abr'], [], ['jun'], ['jul'], ['ago'], ['set'], ['out'], ['nov'], ['dez'], ['jan'], ['fev'], ['mar'], ['abr'], [], ['jun'], ['jul'], ['ago'], ['set'], ['out'], ['nov'], ['dez'], ['jan'], ['fev'], ['mar'], ['abr'], [], ['jun'], ['jul'], ['ago'], ['set'], ['out'], ['nov'], ['dez'], ['jan'], ['fev'], ['mar'], ['abr'], [], ['jun'], ['jul'], ['ago'], ['set'], ['out'], ['nov'], ['dez'], ['jan'], ['fev'], ['mar'], ['abr'], [], ['jun'], ['jul'], ['ago'], ['set'], ['out'], ['nov'], ['dez'], ['jan'], ['fev'], ['mar']]

In [7]:
#usando regex para pegar somente o ANO da data que vem do aquivo do google
import re
result_ano = []
for i in df['Mês']:
    result_ano.append(re.findall(r'(\d{4})',i,flags=re.IGNORECASE))
df['ano'] = result_ano
print(result_ano)

[['2012'], ['2013'], ['2013'], ['2013'], ['2013'], ['2013'], ['2013'], ['2013'], ['2013'], ['2013'], ['2013'], ['2013'], ['2013'], ['2014'], ['2014'], ['2014'], ['2014'], ['2014'], ['2014'], ['2014'], ['2014'], ['2014'], ['2014'], ['2014'], ['2014'], ['2015'], ['2015'], ['2015'], ['2015'], ['2015'], ['2015'], ['2015'], ['2015'], ['2015'], ['2015'], ['2015'], ['2015'], ['2016'], ['2016'], ['2016'], ['2016'], ['2016'], ['2016'], ['2016'], ['2016'], ['2016'], ['2016'], ['2016'], ['2016'], ['2017'], ['2017'], ['2017'], ['2017'], ['2017'], ['2017'], ['2017'], ['2017'], ['2017'], ['2017'], ['2017'], ['2017'], ['2018'], ['2018'], ['2018'], ['2018'], ['2018'], ['2018'], ['2018'], ['2018'], ['2018'], ['2018'], ['2018'], ['2018'], ['2019'], ['2019'], ['2019'], ['2019'], ['2019'], ['2019'], ['2019'], ['2019'], ['2019'], ['2019'], ['2019'], ['2019'], ['2020'], ['2020'], ['2020'], ['2020'], ['2020'], ['2020'], ['2020'], ['2020'], ['2020'], ['2020'], ['2020'], ['2020'], ['2021'], ['2021'], ['2021'], ['2021'], ['2021'], ['2021'], ['2021'], ['2021'], ['2021'], ['2021'], ['2021'], ['2021'], ['2022'], ['2022'], ['2022']]

In [8]:
#removendo os squares
df['mes'] = df['mes'].str.get(0)
df['ano'] = df['ano'].str.get(0)
df

              Mês  Cliques  Impressões CPC médio        Custo  mes   ano
0    dez. de 2012    0.000       0.000   R$ 0,00      R$ 0,00  dez  2012
1    jan. de 2013    0.000       0.000   R$ 0,00      R$ 0,00  jan  2013
2    fev. de 2013    0.000       0.000   R$ 0,00      R$ 0,00  fev  2013
3    mar. de 2013    0.000       0.000   R$ 0,00      R$ 0,00  mar  2013
4    abr. de 2013    0.000       0.000   R$ 0,00      R$ 0,00  abr  2013
..            ...      ...         ...       ...          ...  ...   ...
107  nov. de 2021    1.182      26.051   R$ 1,21  R$ 1.429,82  nov  2021
108  dez. de 2021    1.186      20.531   R$ 1,25  R$ 1.483,94  dez  2021
109  jan. de 2022    1.114      22.327   R$ 1,23  R$ 1.364,89  jan  2022
110  fev. de 2022    1.044      19.966   R$ 1,23  R$ 1.283,63  fev  2022
111  mar. de 2022  594.000      11.209   R$ 1,31    R$ 779,56  mar  2022

[112 rows x 7 columns]

In [9]:
#limpando tabelas não importantes
df.drop('Mês', axis=1, inplace=True)
df.drop('Impressões', axis=1, inplace=True)
df.drop('CPC médio', axis=1, inplace=True)
df.drop('Custo', axis=1, inplace=True)

df

     Cliques  mes   ano
0      0.000  dez  2012
1      0.000  jan  2013
2      0.000  fev  2013
3      0.000  mar  2013
4      0.000  abr  2013
..       ...  ...   ...
107    1.182  nov  2021
108    1.186  dez  2021
109    1.114  jan  2022
110    1.044  fev  2022
111  594.000  mar  2022

[112 rows x 3 columns]

In [10]:
#convertendo coluna de ano para int para conseguir filtrar 
df['ano'] = df['ano'].astype(str).astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cliques  112 non-null    float64
 1   mes      103 non-null    object
 2   ano      112 non-null    int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.8+ KB

In [11]:
df = df.drop(df[df.Cliques < 1].index)
df

     Cliques  mes   ano
51   186.000  mar  2017
52   212.000  abr  2017
53   262.000  NaN  2017
54   332.000  jun  2017
55   224.000  jul  2017
..       ...  ...   ...
107    1.182  nov  2021
108    1.186  dez  2021
109    1.114  jan  2022
110    1.044  fev  2022
111  594.000  mar  2022

[61 rows x 3 columns]

In [12]:
df = df.drop(df[df.ano < 2022].index)
df

     Cliques  mes   ano
109    1.114  jan  2022
110    1.044  fev  2022
111  594.000  mar  2022

In [13]:
#Apagando coluna ano por ser o mesmo valor sempre
df.drop('ano', axis=1, inplace=True)
df

     Cliques  mes
109    1.114  jan
110    1.044  fev
111  594.000  mar

In [14]:
df = df.rename(columns={"Cliques":"Total", "mes":"month"})
df

       Total month
109    1.114   jan
110    1.044   fev
111  594.000   mar

In [15]:
df = df[['month', 'Total']]
df.head()

    month    Total
109   jan    1.114
110   fev    1.044
111   mar  594.000

In [16]:
df

    month    Total
109   jan    1.114
110   fev    1.044
111   mar  594.000

In [17]:
# df.to_csv("df_google_cliques_mes.csv")

# Carregando e preparando arquivo HubSpot - Negócios Gerais em 2022

In [18]:
# Carregando e preparmydateparser = lambda x: pd.datetime.strptime(x, "%d/%m/%Y %H:%M:%S")
dfh = pd.read_csv("../datasets/hubspot-2022.csv", sep=',')
dfh.head()

,Deal ID,Nome do negócio,Associated Contact,Associated Company,Último contato,Etapa do negócio,Data de fechamento,Proprietário do negócio,Valor,Data de criação,...,Motivo de fechamento perdido,Número de contatos associados,Número de atividades de vendas,Número de contatos efetuados,Origem do último agendamento na ferramenta de reuniões,Receita anual recorrente,Receita recorrente mensal,Tipo de negócio,Associated Contact IDs,Associated Company IDs
0,8301562123,APP VISTORIA,NaN,Top Suites,NaN,Primeiro Contato,2022-03-31 11:11,Beatriz Zago,NaN,2022-03-21 11:11,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.275191e+09
1,8301472855,APP VISTORIA,Simone,Avancar Negocios Imobiliarios,2022-03-21 10:48,Primeiro Contato,2022-03-31 10:48,Beatriz Zago,NaN,2022-03-21 10:48,...,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,243651,8.275124e+09
2,8301393735,APP VISTORIA,NaN,Nogueira Corretores,2022-03-21 10:35,Primeiro Contato,2022-03-31 10:34,Beatriz Zago,NaN,2022-03-21 10:34,...,NaN,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,8.273818e+09
3,8301327722,APP VISTORIA,Demaria (classeape@claseaimoveispe.com.br),Classe A Imóveis,2022-03-21 10:22,Primeiro Contato,2022-03-31 10:21,Beatriz Zago,NaN,2022-03-21 10:21,...,NaN,1.0,2.0,1.0,NaN,NaN,NaN,NaN,243601,8.273724e+09
4,8301259522,APP VISTORIA,Diacuy,JB Imóveis,2022-03-21 10:13,Primeiro Contato,2022-03-31 10:09,Beatriz Zago,NaN,2022-03-21 10:09,...,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,243551,8.273723e+09

In [19]:
#selecionando somente as colunas mais importantes
dfh = dfh[['Associated Company','Data de criação','Proprietário do negócio','Etapa do negócio', 'Nome do negócio']]
dfh

,Associated Company,Data de criação,Proprietário do negócio,Etapa do negócio,Nome do negócio
0,Top Suites,2022-03-21 11:11,Beatriz Zago,Primeiro Contato,APP VISTORIA
1,Avancar Negocios Imobiliarios,2022-03-21 10:48,Beatriz Zago,Primeiro Contato,APP VISTORIA
2,Nogueira Corretores,2022-03-21 10:34,Beatriz Zago,Primeiro Contato,APP VISTORIA
3,Classe A Imóveis,2022-03-21 10:21,Beatriz Zago,Primeiro Contato,APP VISTORIA
4,JB Imóveis,2022-03-21 10:09,Beatriz Zago,Primeiro Contato,APP VISTORIA
...,...,...,...,...,...
682,NaN,2022-01-03 13:44,Rafaela Comercial,Testando,APP VISTORIA
683,NaN,2022-01-03 13:35,Rafaela Comercial,Testando,APP VISTORIA
684,NaN,2022-01-03 13:31,Rafaela Comercial,Testando,FAST4SIGN
685,NaN,2022-01-03 11:53,Rafaela Comercial,Testando,APP VISTORIA
686,NaN,2022-01-03 06:50,Rafaela Comercial,Closed Won,FAST4SIGN

In [20]:
dfh['Data de criação'] = pd.to_datetime(dfh['Data de criação'])

In [21]:
dfh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687 entries, 0 to 686
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Associated Company       320 non-null    object
 1   Data de criação          687 non-null    datetime64[ns]
 2   Proprietário do negócio  687 non-null    object
 3   Etapa do negócio         687 non-null    object
 4   Nome do negócio          687 non-null    object
dtypes: datetime64[ns](1), object(4)
memory usage: 27.0+ KB

In [22]:
dfh['mes'] = pd.DatetimeIndex(dfh['Data de criação']).month
dfh

,Associated Company,Data de criação,Proprietário do negócio,Etapa do negócio,Nome do negócio,mes
0,Top Suites,2022-03-21 11:11:00,Beatriz Zago,Primeiro Contato,APP VISTORIA,3
1,Avancar Negocios Imobiliarios,2022-03-21 10:48:00,Beatriz Zago,Primeiro Contato,APP VISTORIA,3
2,Nogueira Corretores,2022-03-21 10:34:00,Beatriz Zago,Primeiro Contato,APP VISTORIA,3
3,Classe A Imóveis,2022-03-21 10:21:00,Beatriz Zago,Primeiro Contato,APP VISTORIA,3
4,JB Imóveis,2022-03-21 10:09:00,Beatriz Zago,Primeiro Contato,APP VISTORIA,3
...,...,...,...,...,...,...
682,NaN,2022-01-03 13:44:00,Rafaela Comercial,Testando,APP VISTORIA,1
683,NaN,2022-01-03 13:35:00,Rafaela Comercial,Testando,APP VISTORIA,1
684,NaN,2022-01-03 13:31:00,Rafaela Comercial,Testando,FAST4SIGN,1
685,NaN,2022-01-03 11:53:00,Rafaela Comercial,Testando,APP VISTORIA,1
686,NaN,2022-01-03 06:50:00,Rafaela Comercial,Closed Won,FAST4SIGN,1

In [23]:
#Agrupando os atendimentos de todas as vendedoras por mês
dfh_gr = dfh.groupby(['mes']).size().reset_index(name='Total')
dfh_gr

   mes  Total
0    1    176
1    2    262
2    3    249

In [24]:
import calendar
result = []
for i in dfh_gr['mes']:
    result.append(calendar.month_abbr[i])
dfh_gr['month'] = result
print(result)

['Jan', 'Feb', 'Mar']

In [25]:
#método para pegar valores missing
def missing_zero_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(
        columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Values'})
        mz_table['Total Zero Missing Values'] = mz_table['Zero Values'] + mz_table['Missing Values']
        mz_table['% Total Zero Missing Values'] = 100 * mz_table['Total Zero Missing Values'] / len(df)
        mz_table['Data Type'] = df.dtypes
        mz_table = mz_table[
            mz_table.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"      
            "There are " + str(mz_table.shape[0]) +
              " columns that have missing values.")
#         mz_table.to_excel('D:/sampledata/missing_and_zero_values.xlsx', freeze_panes=(1,0), index = False)
        return mz_table

In [26]:
#verificando algum valor missing
missing_zero_values_table(dfh_gr)

Your selected dataframe has 3 columns and 3 Rows.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Zero Values, Missing Values, % of Total Values, Total Zero Missing Values, % Total Zero Missing Values, Data Type]
Index: []

In [27]:
dfh_gr.shape

(3, 3)

In [28]:
dfh_gr

   mes  Total month
0    1    176   Jan
1    2    262   Feb
2    3    249   Mar

In [29]:
#limpando tabelas não importantes
dfh_gr.drop('mes', axis=1, inplace=True)
dfh_gr

   Total month
0    176   Jan
1    262   Feb
2    249   Mar

In [30]:
dfh_gr = dfh_gr[['month', 'Total']]
dfh_gr.head()

  month  Total
0   Jan    176
1   Feb    262
2   Mar    249

In [31]:
# dfh_gr.to_csv("hubspot_atendimentos_agrupado_mes_2022.csv")

# Carregando e preparando arquivo Empresa - leads

In [32]:
df_emp = pd.read_csv("../datasets/empresas.csv", sep=';')
df_emp.head()

,Nome,Email,Telefone,CPF/CNPJ,Data cadastro,Cidade,UF,Qtd vistoria,Qtd foto,Armazenamento,Situação,Data limite teste,Vencimento,Valor,Desconto,Valor vistoria adicional,Data compra,Data cancelamento
0,07856446609,rod-queiroz@hotmail.com,(31) 99802-0349,078.564.466-09,21/12/2021,belo horizonte,MG,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 ponto imobiliario,NaN,(31) 999548491,17.149.156/0001-31,16/01/2021,Belo Horizonte,MG,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21 Soluções Imobiliárias,nilsoncardosoimoveis@gmail.com,(48) 99602-4343,34.162.884/0001-00,25/08/2021,Florianópolis,SC,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2F BRASIL CORRETORA DE SEGUROS E IMOVEIS LTDA.,NaN,(19) 999094009,20.453.418/0001-61,30/10/2019,SANTA BARBARA D'OESTE,SP,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,05/02/2022,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,08/02/2022,NaN

In [33]:
df_emp['Data compra'] = pd.to_datetime(df_emp['Data compra'], format='%d/%m/%Y')
df_emp['Data cancelamento'] = pd.to_datetime(df_emp['Data cancelamento'], format='%d/%m/%Y')
df_emp['Data cadastro'] = pd.to_datetime(df_emp['Data cadastro'], format='%d/%m/%Y')
df_emp.head()

,Nome,Email,Telefone,CPF/CNPJ,Data cadastro,Cidade,UF,Qtd vistoria,Qtd foto,Armazenamento,Situação,Data limite teste,Vencimento,Valor,Desconto,Valor vistoria adicional,Data compra,Data cancelamento
0,07856446609,rod-queiroz@hotmail.com,(31) 99802-0349,078.564.466-09,2021-12-21,belo horizonte,MG,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,1 ponto imobiliario,NaN,(31) 999548491,17.149.156/0001-31,2021-01-16,Belo Horizonte,MG,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
2,21 Soluções Imobiliárias,nilsoncardosoimoveis@gmail.com,(48) 99602-4343,34.162.884/0001-00,2021-08-25,Florianópolis,SC,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
3,2F BRASIL CORRETORA DE SEGUROS E IMOVEIS LTDA.,NaN,(19) 999094009,20.453.418/0001-61,2019-10-30,SANTA BARBARA D'OESTE,SP,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,2022-02-05,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,2022-02-08,NaT

In [34]:
colunas = {"Nome":"nome","Email":"email","Telefone":"telefone","CPF/CNPJ":"CPF/CNPJ","Data cadastro":"dtcadastro","Cidade":"cidade","UF":"uf","Qtd vistoria":"qtdvistoria","Qtd foto":"qtdfoto","Armazenamento":"armazenamento",
           "Data limite teste":"limiteteste","Vencimento":"vencimento","Valor":"valor",
           "Desconto":"desconto","Valor vistoria adicional":"vistoriaadd","Data compra":"dtcompra","Data cancelamento":"dtcancelamento","Data cancelamento":"dtcancelamento","Situação":"situacao"}
df_emp.rename(columns=colunas, inplace=True)
df_emp.head()

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento
0,07856446609,rod-queiroz@hotmail.com,(31) 99802-0349,078.564.466-09,2021-12-21,belo horizonte,MG,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,1 ponto imobiliario,NaN,(31) 999548491,17.149.156/0001-31,2021-01-16,Belo Horizonte,MG,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
2,21 Soluções Imobiliárias,nilsoncardosoimoveis@gmail.com,(48) 99602-4343,34.162.884/0001-00,2021-08-25,Florianópolis,SC,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
3,2F BRASIL CORRETORA DE SEGUROS E IMOVEIS LTDA.,NaN,(19) 999094009,20.453.418/0001-61,2019-10-30,SANTA BARBARA D'OESTE,SP,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,2022-02-05,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,2022-02-08,NaT

In [35]:
df2 = df_emp.groupby(['situacao']).size().reset_index(name='Total')
df2

                    situacao  Total
0                      Ativa    500
1                  Cancelada    414
2                   Gratuito    435
3           Gratuito inativo   3268
4  Inativa por não pagamento     25
5                      Teste     28

# Criando DF para quem está testando o sistema por mês

In [36]:
df_emp_testando = df_emp[((df_emp['situacao'] == 'Teste') | (df_emp['situacao'] == 'Gratuito')) & (df_emp['dtcadastro'] > '01/01/2022')]
df_emp_testando

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento
5,35950095847,ste_marcheti@hotmail.com,(11) 99874-1803,359.500.958-47,2022-03-09,Santana de parnaiba,SP,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
35,A Corretora Imobiliaria e serviços Ltda,ademar.imobiliaria@gmail.com,(73) 98846-3370,18.919.218/0001-00,2022-01-14,Itabuna,BA,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
37,Activa Consultoria Imobiliaria,alex@miguezimobiliaria.com.br,(21) 99593-6997,42.307.944/0001-56,2022-01-04,Rio de Janeiro,RJ,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
38,Adalto Quaresma Franco,dalton.engenheiro.civil@gmail.com,(34) 99988-7827,089.360.546-86,2022-01-19,Uberlândia,MG,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
42,adeildo manoel santos,adeildocazanova@gmail.com,(81) 99944-7392,414.800.584-91,2022-03-03,caruaru,PE,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4614,wendelson,donaldowendelson@yahoo.com.br,(35) 99741-4750,056.077.056-17,2022-01-05,Ibituruna,MG,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4647,Wust Imóveis Ltda,wi.imoveis@terra.com.br,(51) 3551-1212,07.219.091/0001-08,2022-02-02,Estância Velha,RS,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4656,Yohana Bitencourt,pablobitencourt2004@gmail.com,(21) 98184-9131,126.791.807-12,2022-01-11,Niterói,RJ,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4659,yuri zenichi kawabata,yuri@ivoimoveis.com,(11) 95225-4409,468.912.608-92,2022-01-21,sao paulo,SP,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4665,zem cioccari negocios imobiliarios ltda,zemcioccari@gmail.com,(16) 99626-9888,40.795.190/0001-03,2022-03-14,RIBEIRÃO PRETO,SP,4,200,1,Teste,19/03/2022,NaN,NaN,NaN,NaN,NaT,NaT

In [37]:
# df_emp_gratuito = df_emp[((df_emp['situacao'] == 'Gratuito') | (df_emp['situacao'] == 'Gratuito inativo')) & (df_emp['dtcadastro'] > '01/01/2022')]
# df_emp_gratuito

# Criando DF para quem assinou o sistema

In [38]:
df_emp_ativo = df_emp[(df_emp['situacao'] == 'Ativa') & (df_emp['dtcompra'] > '01/01/2022')]
df_emp_ativo

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,2022-02-05,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,2022-02-08,NaT
64,Administra,contato@administra.com.br,(61) 99695-0257,10.426.167/0001-72,2021-08-12,Brasília,DF,10,999999,1,Ativa,NaN,15.0,110.0,10.0,3.5,2022-02-02,NaT
195,ALIANCA CONSULTORIA DE IMOVEIS LTDA - ME,valdemar@aliancaimob.com,NaN,03.265.351/0001-12,2021-01-16,UBERLANDIA,MG,10,999999,1,Ativa,NaN,11.0,120.0,NaN,3.5,2022-01-11,NaT
291,Anderson de Arruda,andersonarruda@bol.com.br,(11) 96087-6858,261.953.878-51,2021-08-23,Sao Paulo,SP,10,999999,1,Ativa,NaN,5.0,120.0,NaN,3.5,2022-03-04,NaT
441,Atuale Empreendimentos Imobiliários Ltda,alessandro@atualeimobiliaria.com,(19) 97141-3361,19.217.904/0001-00,2022-01-03,Sumaré,SP,30,999999,5,Ativa,NaN,13.0,175.0,NaN,3.5,2022-01-13,NaT
479,Barbagallo Imóveis LTDA,adm.barbagallo@gmail.com,(11) 94724-0992,22.800.025/0001-02,2022-01-26,São Bernardo do Campo,SP,10,999999,1,Ativa,NaN,26.0,110.0,NaN,3.5,2022-01-29,NaT
522,BESTLAR NEGOCIOS IMOBILIARIOS LTDA,fabio.valle@bestlar.com.br,(11) 989884001,10.783.341/0001-34,2020-07-27,Cotia,SP,10,999999,1,Ativa,NaN,7.0,110.0,10.0,3.5,2022-03-07,NaT
536,Block Imóveis LTDA,wallace@blockimoveis.com.br,(21) 98556-3825,26.475.689/0001-02,2022-02-16,Rio de Janeiro,RJ,30,999999,15,Ativa,NaN,5.0,179.0,NaN,3.5,2022-03-03,NaT
553,Botelho empreendimentos imobiliaria Ltda,annabotelho@lokatell.com.br,(45) 99821-9991,72.218.993/0001-83,2020-08-18,Cascavel,PR,80,999999,20,Ativa,NaN,9.0,305.0,NaN,3.5,2022-03-09,NaT
811,Cirag Imobiliária LTDA,vistorias@cirag.com.br,(11) 938015594,13.750.503/0001-26,2021-01-16,São Paulo,SP,10,999999,1,Ativa,NaN,25.0,120.0,NaN,3.5,2022-02-25,NaT
1026,Dc Imoveis,daiana@dcimoveissc.com.br,(47) 3345-0324,26.529.193/0001-66,2021-11-09,Penha,SC,5,999999,1,Ativa,NaN,6.0,89.0,NaN,3.5,2022-01-06,NaT
1072,DHG Consultoria,diogohgarcia@gmail.com,(12) 99776-0926,320.575.968-00,2022-03-04,Caçapava,SP,20,999999,3,Ativa,NaN,8.0,140.0,NaN,3.5,2022-03-08,NaT
1250,Elite corretagem e Administração de imóveis ltda,eliteimobiliariarj@gmail.com,(21) 96834-4451,41.853.954/0001-24,2021-09-12,Nova iguacu,RJ,10,999999,1,Ativa,NaN,24.0,120.0,NaN,3.5,2022-02-24,NaT
1366,Everton Tavares Vilela,everton_vilela@yahoo.com.br,(24) 98808-5221,028.331.617-94,2022-02-20,Miguel Pereira,RJ,20,999999,1,Ativa,NaN,5.0,155.0,50.0,3.5,2022-03-03,NaT
1372,Exacto Imoveis,administrativo@exactoimoveis.com.br,(19) 99346-7044,22.961.776/0001-00,2022-01-12,Campinas,SP,10,999999,1,Ativa,NaN,7.0,120.0,50.0,3.5,2022-03-07,NaT
1396,Fabiano souza,fabianoreferencia@gmail.com,(31) 99904-9267,048.421.016-52,2021-03-17,Barão de cocais,MG,10,999999,1,Ativa,NaN,16.0,120.0,NaN,3.5,2022-02-16,NaT
1448,FELGUS ENGENHARIA LTDA.,cezarernani@terra.com.br,(11) 97616-4366,09.243.976/0001-60,2021-11-01,São Paulo,SP,80,999999,20,Ativa,NaN,12.0,305.0,NaN,3.5,2022-01-12,NaT
1797,Habitar Soluções Imobiliárias,fabianadebastiani@gmail.com,(66) 9224-6722,39.815.102/0001-09,2021-05-26,Sorriso,MT,10,999999,1,Ativa,NaN,20.0,120.0,NaN,3.5,2022-01-20,NaT
1921,Imobiliária Altreiter LTDA,atendimento@altreiterimoveis.com.br,(54) 99171-2001,08.955.741/0001-38,2022-02-14,Gramado,RS,10,999999,1,Ativa,NaN,18.0,110.0,NaN,3.5,2022-02-18,NaT
1925,Imobiliária Aquino eireli,denio@denioaquino.com.br,(62) 3943-2151,16.926.967/0001-39,2021-10-04,ANAPOLIS,GO,20,999999,3,Ativa,NaN,18.0,140.0,NaN,3.5,2022-02-18,NaT
1973,Imobiliária Immig,imobiliariaimmig@gmail.com,(51) 98030-9520,44.270.107/0001-25,2022-01-04,Estância Velha,RS,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,2022-01-08,NaT
2198,JDIAS CONSULTORIA IMOBILIÁRIA,admjdias.imb@gmail.com,(16) 99795-5687,40.588.313/0001-27,2022-02-01,Jaboticabal,SP,10,999999,1,Ativa,NaN,5.0,120.0,NaN,3.5,2022-02-02,NaT
2419,Júlio César dos Santos Messias,jcesarsmessias@gmail.com,(31) 99499-2597,111.181.866-56,2022-02-03,Santa Barbara,MG,10,999999,1,Ativa,NaN,10.0,120.0,NaN,3.5,2022-03-10,NaT
2667,LL ADMINISTRAÇÃO DE IMÓVEIS LTDA,luciana@decisaoimoveis.com.br,(31) 3048-4455,14.624.228/0001-67,2021-01-15,Belo Horizonte,MG,10,999999,1,Ativa,NaN,15.0,120.0,NaN,3.5,2022-02-15,NaT
2758,LUCILENE INTERMEDIÇOES IMOBILIARIA,boletos@lucilenepereira.com.br,(67) 999244646,10.582.320/0001-50,2020-09-21,CAMPO GRANDE,MS,30,999999,15,Ativa,NaN,24.0,188.9,NaN,3.5,2022-02-24,NaT
2957,Marcos Antônio Moraes,mmvistorias@mmvistorias.com.br,(31) 98443-7621,044.243.406-51,2022-01-23,Betim,MG,10,999999,1,Ativa,NaN,26.0,120.0,NaN,3.5,2022-01-31,NaT
2979,MARCUS ALLAN MASTROPASQUA SOUTO,marcusmastropasqua@hotmail.com,(48) 99916-0998,080.737.379-65,2021-11-28,São José,SC,10,999999,1,Ativa,NaN,14.0,120.0,NaN,3.5,2022-03-14,NaT
3004,Maria de Fatima Itaparica Nascimento Zucco,faitaitaparica@gmail.com,(71) 98506-9279,105.015.095-34,2022-03-01,Salvador,BA,10,999999,1,Ativa,NaN,5.0,110.0,NaN,3.5,2022-03-03,NaT
3076,MATSUMOTO IMOVEIS,contato@matsumotocorretora.com.br,(67) 999795062,11.349.494/0001-30,2020-07-08,TRES LAGOAS,MS,10,999999,1,Ativa,NaN,25.0,110.0,NaN,3.5,2022-01-25,NaT
3164,Mil casa imóveis Eireli,marceloomb100@gmail.com,(31) 988809973,003.400.946-99,2020-11-24,São Joaquim de Bicas,MG,5,999999,1,Ativa,NaN,24.0,79.0,NaN,3.5,2022-02-24,NaT
3376,OPX Imóveis Ltda,contato@opx.imb.br,(47) 99105-0022,22.439.170/0001-00,2021-12-01,Balneário Piçarras,SC,30,999999,5,Ativa,NaN,10.0,175.0,NaN,3.5,2022-02-10,NaT
3464,Paulo Dias Corretor de Imóveis,comercial@paulodiascorretorhp.com.br,(47) 99666-5971,34.595.951/0001-72,2022-01-07,Balneário Camboriu,SC,10,999999,1,Ativa,NaN,21.0,120.0,NaN,3.5,2022-01-21,NaT
3580,Porto Seguro Imoveis Ltda,financeiro@portosegimoveis.com.br,(19) 34758444,54.015.755/0001-99,2021-01-16,Americana,SP,10,999999,1,Ativa,NaN,15.0,120.0,NaN,3.5,2022-03-15,NaT
3605,Prime Imóveis Ltda,contato@primeimoveispg.com.br,(13) 99197-7365,16.876.752/0001-50,2022-02-02,Praia Grande,SP,10,999999,1,Ativa,NaN,5.0,120.0,NaN,3.5,2022-02-04,NaT
3608,"Princal - Administração, Agricultura e Imóveis...",financeiro@princal.com.br,(11) 97414-1587,60.859.550/0001-92,2021-12-15,São Paulo,SP,10,999999,1,Ativa,NaN,18.0,120.0,NaN,3.5,2022-02-18,NaT
3850,RICARLOS MACIEL ARAUJO EIRELI,rmaraujo.mao@gmail.com,(92) 99181-2646,36.039.111/0001-59,2021-01-30,MANAUS,AM,10,999999,1,Ativa,NaN,10.0,104.5,NaN,3.5,2022-03-10,NaT
3973,Rozinardo serafim da luz,tekoserafim@gmail.com,(47) 99233-2255,206.677.418-95,2022-01-04,Blumenau,SC,10,999999,1,Ativa,NaN,11.0,120.0,NaN,3.5,2022-01-11,NaT
4088,Shirley Soares,shirleyamd1@hotmail.com,(31) 99191-1698,073.246.306-85,2021-10-19,Ribeirão das Neves,MG,10,999999,1,Ativa,NaN,15.0,120.0,NaN,3.5,2022-01-15,NaT
4167,Solução Imobiliária Ltda,vistoria@solucaoimobiliaria.com,(33) 3276-8949,15.656.797/0001-57,2022-02-11,Governador Valadares,MG,10,999999,1,Ativa,NaN,14.0,110.0,NaN,3.5,2022-02-14,NaT
4381,Ugara Felipe Ferreira,ugarafelipe@gmail.com,(31) 99282-5681,36.227.554/0001-73,2022-01-05,Belo Horizonte,MG,10,999999,1,Ativa,NaN,8.0,120.0,NaN,3.5,2022-01-08,NaT
4439,Vanessa Macção Camilo e Castro,vanessacamilotti2014@gmail.com,(21) 96720-2054,111.947.727-14,2021-05-24,Rio de Janeiro,RJ,10,999999,1,Ativa,NaN,14.0,120.0,NaN,3.5,2022-02-14,NaT
4479,VIGS NEGÓCIOS IMOBILIÁRIOS LTDA ME,amanda@vigs.com.br,(11) 42493110,25.176.783/0001-90,2021-01-16,Santo André,SP,10,999999,1,Ativa,NaN,15.0,110.0,NaN,3.5,2022-03-15,NaT
4580,WAGNER PEREIRA CLAUDIO 01389186601,vaguinho01@hotmail.com,(31) 99331-4823,32.321.600/0001-48,2020-01-28,BETIM,MG,20,999999,3,Ativa,NaN,5.0,155.0,NaN,3.5,2022-02-03,NaT
4629,William Ferreira,williamfms20@gmail.com,(11) 987745948,489.192.368-79,2020-07-09,São Paulo,SP,10,999999,11,Ativa,NaN,5.0,140.0,NaN,3.5,2022-01-05,NaT
4638,Willians Meda Empreendimentos Imobiliários LTDA,anamaria.abud@hotmail.com,(11) 2441-4141,08.974.648/0001-70,2021-01-22,Guarulhos,SP,10,999999,1,Ativa,NaN,17.0,120.0,NaN,3.5,2022-02-17,NaT

Criando a columa Mês em cada DF

In [39]:
df_emp_testando['mes'] = pd.DatetimeIndex(df_emp_testando['dtcadastro']).month
# df_emp_gratuito['mes'] = pd.DatetimeIndex(df_emp_gratuito['dtcadastro']).month
df_emp_ativo['mes'] = pd.DatetimeIndex(df_emp_ativo['dtcompra']).month

# Convertendo o número do mês em string (Ex: 01 em Jan)

In [40]:
# import calendar
# result_gratis = []
# for i in df_emp_gratuito['mes']:
#     result_gratis.append(calendar.month_abbr[i])
# df_emp_gratuito['month'] = result_gratis
# print(result_gratis)

In [41]:
import calendar
result_test = []
for i in df_emp_testando['mes']:
    result_test.append(calendar.month_abbr[i])
df_emp_testando['month'] = result_test
print(result_test)

['Mar', 'Jan', 'Jan', 'Jan', 'Mar', 'Jan', 'Feb', 'Jan', 'Feb', 'Mar', 'Mar', 'Mar', 'Feb', 'Jan', 'Jan', 'Feb', 'Feb', 'Feb', 'Feb', 'Jan', 'Mar', 'Jan', 'Feb', 'Feb', 'Jan', 'Jan', 'Jan', 'Feb', 'Jan', 'Feb', 'Feb', 'Mar', 'Feb', 'Feb', 'Mar', 'Jan', 'Mar', 'Jan', 'Feb', 'Feb', 'Feb', 'Mar', 'Feb', 'Mar', 'Feb', 'Jan', 'Jan', 'Feb', 'Jan', 'Jan', 'Feb', 'Jan', 'Jan', 'Feb', 'Jan', 'Jan', 'Mar', 'Jan', 'Feb', 'Jan', 'Jan', 'Jan', 'Jan', 'Jan', 'Jan', 'Mar', 'Jan', 'Feb', 'Feb', 'Mar', 'Feb', 'Feb', 'Mar', 'Feb', 'Jan', 'Feb', 'Mar', 'Jan', 'Feb', 'Jan', 'Jan', 'Jan', 'Jan', 'Jan', 'Mar', 'Mar', 'Jan', 'Feb', 'Mar', 'Feb', 'Jan', 'Jan', 'Mar', 'Jan', 'Feb', 'Feb', 'Mar', 'Feb', 'Jan', 'Feb', 'Feb', 'Feb', 'Jan', 'Feb', 'Jan', 'Mar', 'Mar', 'Jan', 'Jan', 'Jan', 'Jan', 'Jan', 'Mar', 'Mar', 'Feb', 'Mar', 'Jan', 'Jan', 'Mar', 'Jan', 'Jan', 'Jan', 'Jan', 'Feb', 'Mar', 'Feb', 'Feb', 'Mar', 'Jan', 'Feb', 'Mar', 'Feb', 'Feb', 'Jan', 'Jan', 'Jan', 'Jan', 'Feb', 'Jan', 'Feb', 'Jan', 'Mar', 'Mar', 'Feb', 'Feb', 'Jan', 'Feb', 'Feb', 'Feb', 'Mar', 'Jan', 'Mar', 'Jan', 'Jan', 'Feb', 'Mar', 'Mar', 'Mar', 'Jan', 'Mar', 'Jan', 'Feb', 'Feb', 'Feb', 'Feb', 'Jan', 'Jan', 'Feb', 'Feb', 'Jan', 'Jan', 'Feb', 'Feb', 'Jan', 'Feb', 'Feb', 'Feb', 'Jan', 'Jan', 'Feb', 'Feb', 'Jan', 'Mar', 'Feb', 'Jan', 'Jan', 'Jan', 'Jan', 'Feb', 'Feb', 'Jan', 'Mar', 'Jan', 'Jan', 'Jan', 'Feb', 'Jan', 'Jan', 'Feb', 'Feb', 'Mar', 'Jan', 'Jan', 'Feb', 'Feb', 'Feb', 'Jan', 'Feb', 'Jan', 'Jan', 'Mar', 'Feb', 'Mar', 'Jan', 'Jan', 'Jan', 'Feb', 'Jan', 'Jan', 'Feb', 'Feb', 'Jan', 'Jan', 'Jan', 'Feb', 'Feb', 'Feb', 'Feb', 'Jan', 'Jan', 'Jan', 'Jan', 'Jan', 'Jan', 'Jan', 'Jan', 'Feb', 'Mar', 'Mar', 'Mar', 'Jan', 'Jan', 'Jan', 'Mar', 'Mar', 'Jan', 'Jan', 'Feb', 'Mar', 'Mar', 'Mar', 'Feb', 'Jan', 'Mar', 'Jan', 'Mar', 'Feb', 'Jan', 'Feb', 'Mar', 'Jan', 'Feb', 'Feb', 'Jan', 'Feb', 'Jan', 'Jan', 'Feb', 'Mar', 'Feb', 'Feb', 'Feb', 'Jan', 'Jan', 'Jan', 'Mar', 'Jan', 'Jan', 'Jan', 'Feb', 'Jan', 'Jan', 'Jan', 'Feb', 'Jan', 'Feb', 'Mar', 'Feb', 'Jan', 'Jan', 'Jan', 'Mar', 'Jan', 'Jan', 'Feb', 'Jan', 'Mar', 'Mar', 'Feb', 'Feb', 'Jan', 'Jan', 'Feb', 'Feb', 'Jan', 'Feb', 'Jan', 'Jan', 'Jan', 'Jan', 'Feb', 'Jan', 'Feb', 'Mar', 'Feb', 'Jan', 'Jan', 'Feb', 'Feb', 'Feb', 'Feb', 'Mar', 'Feb', 'Mar', 'Jan', 'Jan', 'Jan', 'Jan', 'Feb', 'Jan', 'Feb', 'Jan', 'Feb', 'Jan', 'Feb', 'Feb', 'Feb', 'Mar', 'Mar', 'Feb', 'Jan', 'Feb', 'Jan', 'Jan', 'Mar', 'Jan', 'Mar', 'Feb', 'Jan', 'Jan', 'Feb', 'Jan', 'Jan', 'Mar']

In [42]:
import calendar
result_ativo = []
for i in df_emp_ativo['mes']:
    result_ativo.append(calendar.month_abbr[i])
df_emp_ativo['month'] = result_ativo
print(result_ativo)

['Feb', 'Feb', 'Jan', 'Mar', 'Jan', 'Jan', 'Mar', 'Mar', 'Mar', 'Feb', 'Jan', 'Mar', 'Feb', 'Mar', 'Mar', 'Feb', 'Jan', 'Jan', 'Feb', 'Feb', 'Jan', 'Feb', 'Mar', 'Feb', 'Feb', 'Jan', 'Mar', 'Mar', 'Jan', 'Feb', 'Feb', 'Jan', 'Mar', 'Feb', 'Feb', 'Mar', 'Jan', 'Jan', 'Feb', 'Jan', 'Feb', 'Mar', 'Feb', 'Jan', 'Feb']

In [43]:
#apagando coluna de mês antiga
df_emp_testando.drop('mes', axis=1, inplace=True)
# df_emp_gratuito.drop('mes', axis=1, inplace=True)
df_emp_ativo.drop('mes', axis=1, inplace=True)

# Deixando todos os dados na ordem de mês corretamente

In [44]:
df_emp_testando_gr = df_emp_testando.groupby(['month']).size().reset_index(name='Total')
df_emp_testando_gr

  month  Total
0   Feb    125
1   Jan    161
2   Mar     68

In [45]:
df_emp_ativo_gr = df_emp_ativo.groupby(['month']).size().reset_index(name='Total')
df_emp_ativo_gr

  month  Total
0   Feb     18
1   Jan     14
2   Mar     13

In [46]:
df

    month    Total
109   jan    1.114
110   fev    1.044
111   mar  594.000

In [47]:
#ordenando os meses corretamente usando Categorical
months = ["Jan","Feb", "Mar"]
df_emp_testando_gr['month'] = pd.Categorical(df_emp_testando_gr['month'], categories=months, ordered=True)
df_emp_testando_gr.sort_values(by='month', ascending = True, inplace=True)

df_emp_testando_gr

  month  Total
1   Jan    161
0   Feb    125
2   Mar     68

In [55]:
print(df['Total'].sum())

596.158

# Preparando DF para o funil

In [57]:
data_table = [['etapas', 'Values'],
               ['leads', df['Total'].sum()],
               ['testando', df_emp_testando_gr['Total'].sum()],
               ['assinado', df_emp_ativo_gr['Total'].sum()]]

In [58]:
#verificando tabela criada
data_table

[['etapas', 'Values'], ['leads', 596.158], ['testando', 354], ['assinado', 45]]

In [59]:
#visualização melhor
table = ff.create_table(data_table)
iplot(table)

In [97]:
#criando um dataframe da tabela criada acima
df_tb = pd.DataFrame(data_table)
df_tb

          0        1
0    etapas   Values
1     leads  596.158
2  testando      354
3  assinado       45

In [98]:
#Transformando a primeira linha em header
new_header = df_tb.iloc[0] #grab the first row for the header
df_tb = df_tb[1:] #take the data less the header row
df_tb.columns = new_header #set the header row as the df header
df_tb

0    etapas   Values
1     leads  596.158
2  testando      354
3  assinado       45

In [122]:
df_tb.shape

(3, 2)

In [99]:
df_tb.columns

Index(['etapas', 'Values'], dtype='object', name=0)

In [100]:
df_tb.values

array([['leads', 596.158],
       ['testando', 354],
       ['assinado', 45]], dtype=object)

In [101]:
df_tb.shape

(3, 2)

In [127]:
[df_tb['Values']]

[1    596.158
 2        354
 3         45
 Name: Values, dtype: object]

In [131]:
[df_tb['etapas']]

[1       leads
 2    testando
 3    assinado
 Name: etapas, dtype: object]

In [157]:
df_tb.to_csv('../datasets/funil_trimestral.csv')

# Testando a visualização do funil

In [155]:
from plotly import graph_objects as go

fig = go.Figure(go.Funnel(
    y = df_tb['etapas'],
    x = df_tb['Values']))

fig.show()

In [156]:
import plotly.express as px
fig = px.funnel_area(names=df_tb['etapas'],
                    values=df_tb['Values'])
fig.show()

In [48]:
months = ["Jan","Feb", "Mar"]
df_emp_ativo_gr['month'] = pd.Categorical(df_emp_ativo_gr['month'], categories=months, ordered=True)
df_emp_ativo_gr.sort_values(by='month', ascending = True, inplace=True)

df_emp_ativo_gr

  month  Total
1   Jan     14
0   Feb     18
2   Mar     13

# Fazendo o merge dos três DFs

In [49]:
#pegando apenas o mês de março
df_leads = df.copy()
df_leads = df_leads[(df_leads['month'] == 'mar')]
df_leads.head()

    month  Total
111   mar  594.0

In [50]:
df_leads['month'] = df['month'].str.capitalize()
df_leads

    month  Total
111   Mar  594.0

In [51]:
df_teste = df_emp_testando_gr.copy()
df_teste = df_teste[(df_teste['month'] == 'Mar')]
df_teste

  month  Total
2   Mar     68

In [52]:
df_ativo = df_emp_ativo_gr.copy()
df_ativo = df_ativo[(df_ativo['month'] == 'Mar')]
df_ativo

  month  Total
2   Mar     13

In [53]:
def mergefiles(dfs=[], on=''):
    """Merge a list of files based on one column"""
    if len(dfs) == 1:
         return "List only have one element."

    elif len(dfs) == 2:
        df1 = dfs[0]
        df2 = dfs[1]
        df = df1.merge(df2, on=on)
        return df

    # Merge the first and second datafranes into new dataframe
    df1 = dfs[0]
    df2 = dfs[1]
    df = dfs[0].merge(dfs[1], on=on)

    # Create new list with merged dataframe
    dfl = []
    dfl.append(df)

    # Join lists
    dfl = dfl + dfs[2:] 
    dfm = mergefiles(dfl, on)
    return dfm

In [416]:
result = pd.concat([df_leads, df_teste, df_ativo],ignore_index=True, axis=1)
result

       0      1    2     3    4     5
2    NaN    NaN  Mar  68.0  Mar  13.0
111  Mar  594.0  NaN   NaN  NaN   NaN

In [418]:
# df_merge_col = pd.merge(df_leads, df_teste, df_ativo, on='month')
df_merge_col = df_leads.merge(df_teste, on="month").merge(df_ativo, on="month")
df_merge_col

  month  Total_x  Total_y  Total
0   Mar    594.0       68     13

In [453]:
df_merge_col1 = df_merge_col[['Total_x','Total_y', 'Total']]
df_merge_col1

   Total_x  Total_y  Total
0    594.0       68     13

In [454]:
dictionaryInstance = df_merge_col1.to_dict(orient="list");

print("DataFrame as a dictionary(List orientation):",dictionaryInstance);

DataFrame as a dictionary(List orientation): {'Total_x': [594.0], 'Total_y': [68], 'Total': [13]}

In [135]:
dfemp_gr_month.to_csv('empresas_devolus_agrupadas_por_situacao_mes.csv')

In [110]:
df_emp_testando_gr.to_csv("empresas_cadastros_2021.csv")

In [ ]:
df_rec_dep = df_rec['Department Name'].value_counts().rename_axis('Stage').reset_index(name='Counts')

In [456]:
import plotly.express as px
data = dict(
    number=[39, 27.4, 20.6, 11, 2],
    stage=["Website visit", "Downloads", "Potential customers", "Requested price", "invoice sent"])
fig = px.funnel(dictionaryInstance, x='Total', y='stage')
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['Total_x', 'Total_y', 'Total'] but received: Total_X

In [ ]:
import plotly.express as px
# ------------------------------ DEPARTMENT NAME---------------------------------------
df_rec = df[df['Recommended IND'] == 'Recommended'][['Recommended IND', 'Department Name']]
df_rec_dep = df_rec['Department Name'].value_counts().rename_axis('Stage').reset_index(name='Counts')
df_rec_dep['Recommended IND'] = 'Recommended'

df_not_rec = df[df['Recommended IND'] == 'Not Recommended'][['Recommended IND', 'Department Name']]
df_not_rec_dep = df_not_rec['Department Name'].value_counts().rename_axis('Stage').reset_index(name='Counts')
df_not_rec_dep['Recommended IND'] = 'Not Recommended'

dff = pd.concat([df_rec_dep, df_not_rec_dep], axis=0)
department = px.funnel(dff, x='Counts', y='Stage', color='Recommended IND',
                       height=300, title='Recommended IND by department Name',
                       category_orders={'Recommended IND': ['Recommended', 'Not Recommended']},
                       color_discrete_sequence=['#DB6574', '#03DAC5'],
                       )
department.update_traces(textposition='auto', textfont=dict(color='#fff'))
department.update_layout(autosize=True,
                         margin=dict(t=110, b=50, l=70, r=40),
                         xaxis_title=' ', yaxis_title=" ",
                         plot_bgcolor='#2d3035', paper_bgcolor='#2d3035',
                         title_font=dict(size=25, color='#a5a7ab', family="Muli, sans-serif"),
                         font=dict(color='#8a8d93'),
                         legend=dict(orientation="h", yanchor="bottom", y=1.02, xanchor="right", x=1)
                        )