# EDA - Usuários Testando

In [4]:
#basic imports
import pandas as pd
import numpy as np
import matplotlib as mpl
import json

%matplotlib inline
import warnings
import datetime as dt

# for visualizations
import matplotlib.pyplot as plt
import seaborn as sns


# for interactive visualizations
import plotly.offline as py
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
from plotly import tools
init_notebook_mode(connected = True)
import plotly.figure_factory as ff


warnings.filterwarnings("ignore")

In [5]:
# file = "../datasets/empresas.csv"
# import chardet
# with open(file, 'rb') as rawdata:
#     result = chardet.detect(rawdata.read(100000))
# result

In [11]:
#mydateparser = lambda x: pd.datetime.strptime(x, "%d/%m/%Y ")
df = pd.read_csv("../datasets/usuarios_assinantes.csv", sep=';', encoding = 'Windows-1252')
df.head()

,Nome,Email,Plano,Situação,Data de Cadastro,Data de Adesão,Data de Carência,Data de Cancelamento
0,amanda vilela de almeida,amandavilelaalmeida@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-12 20:20:37,NaN,2022-05-26 20:20:37,NaN
1,Gedson da Silva,gedson2012_@hotmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-12 14:22:21,NaN,2022-05-26 00:00:00,NaN
2,Financeiro XVII ENGEP,financeiroengep2022@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-12 10:32:45,NaN,2022-05-26 10:32:45,NaN
3,Audenice da Silva dos Santos,silvasantosaudenice@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-11 21:54:51,NaN,2022-05-25 00:00:00,NaN
4,Teste etttt,yortitalte@vusra.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-11 16:49:52,NaN,2022-05-25 16:49:52,NaN

In [12]:
df['Data de Cadastro'] = pd.to_datetime(df['Data de Cadastro'], format='%Y-%m-%d %H:%M:%S')
df['Data de Carência'] = pd.to_datetime(df['Data de Carência'], format='%Y-%m-%d %H:%M:%S')
df['Data de Cancelamento'] = pd.to_datetime(df['Data de Cancelamento'], format='%Y-%m-%d %H:%M:%S')
df.head()

,Nome,Email,Plano,Situação,Data de Cadastro,Data de Adesão,Data de Carência,Data de Cancelamento
0,amanda vilela de almeida,amandavilelaalmeida@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-12 20:20:37,NaN,2022-05-26 20:20:37,NaT
1,Gedson da Silva,gedson2012_@hotmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-12 14:22:21,NaN,2022-05-26 00:00:00,NaT
2,Financeiro XVII ENGEP,financeiroengep2022@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-12 10:32:45,NaN,2022-05-26 10:32:45,NaT
3,Audenice da Silva dos Santos,silvasantosaudenice@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-11 21:54:51,NaN,2022-05-25 00:00:00,NaT
4,Teste etttt,yortitalte@vusra.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-11 16:49:52,NaN,2022-05-25 16:49:52,NaT

In [13]:
# #df = df[(df['situacao'] == 'Ativa') & (df['situacao'] != 'Gratuito') & (df['situacao'] != 'Gratuito inativo') & (df['situacao'] != 'Cancelada')]
df = df[(df['Situação'] == 'TESTE') & (df['Data de Cadastro'] >= '2022-01-01')]
df.head()

,Nome,Email,Plano,Situação,Data de Cadastro,Data de Adesão,Data de Carência,Data de Cancelamento
0,amanda vilela de almeida,amandavilelaalmeida@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-12 20:20:37,NaN,2022-05-26 20:20:37,NaT
1,Gedson da Silva,gedson2012_@hotmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-12 14:22:21,NaN,2022-05-26 00:00:00,NaT
2,Financeiro XVII ENGEP,financeiroengep2022@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-12 10:32:45,NaN,2022-05-26 10:32:45,NaT
3,Audenice da Silva dos Santos,silvasantosaudenice@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-11 21:54:51,NaN,2022-05-25 00:00:00,NaT
4,Teste etttt,yortitalte@vusra.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-11 16:49:52,NaN,2022-05-25 16:49:52,NaT

In [14]:
df.shape

(73, 8)

In [15]:
df1 = df.copy()
df1['mes'] = pd.DatetimeIndex(df1['Data de Cadastro']).month
df1.head()

,Nome,Email,Plano,Situação,Data de Cadastro,Data de Adesão,Data de Carência,Data de Cancelamento,mes
0,amanda vilela de almeida,amandavilelaalmeida@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-12 20:20:37,NaN,2022-05-26 20:20:37,NaT,5
1,Gedson da Silva,gedson2012_@hotmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-12 14:22:21,NaN,2022-05-26 00:00:00,NaT,5
2,Financeiro XVII ENGEP,financeiroengep2022@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-12 10:32:45,NaN,2022-05-26 10:32:45,NaT,5
3,Audenice da Silva dos Santos,silvasantosaudenice@gmail.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-11 21:54:51,NaN,2022-05-25 00:00:00,NaT,5
4,Teste etttt,yortitalte@vusra.com,R$ 0.00 / 5 Docs. / 1Gb,TESTE,2022-05-11 16:49:52,NaN,2022-05-25 16:49:52,NaT,5

In [16]:
df1['mes'] = pd.to_numeric(df1['mes'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73 entries, 0 to 129
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Nome                  73 non-null     object
 1   Email                 73 non-null     object
 2   Plano                 73 non-null     object
 3   Situação              73 non-null     object
 4   Data de Cadastro      73 non-null     datetime64[ns]
 5   Data de Adesão        0 non-null      object
 6   Data de Carência      72 non-null     datetime64[ns]
 7   Data de Cancelamento  0 non-null      datetime64[ns]
 8   mes                   73 non-null     int64
dtypes: datetime64[ns](3), int64(1), object(5)
memory usage: 5.7+ KB

# preparando arquivo usuários TESTANDO

In [17]:
#criando dataset para o mapa com as colunas necessárias
dfass = df1[["mes"]]

In [18]:
dfass.head()

   mes
0    5
1    5
2    5
3    5
4    5

In [19]:
dfass2 = dfass.groupby(['mes']).size().reset_index(name='Total')
dfass2

   mes  Total
0    4     12
1    5     61

In [20]:
# dfmapa.dropna(subset=['nome'], how='all', inplace=True)

In [21]:
import calendar
result = []
for i in dfass2['mes']:
    result.append(calendar.month_abbr[i])
dfass2['month'] = result
print(result)

['Apr', 'May']

In [22]:
dfass2.drop('mes', axis=1, inplace=True)
dfass2

   Total month
0     12   Apr
1     61   May

In [23]:
dfass2.sort_values("month")

   Total month
0     12   Apr
1     61   May

In [44]:
# dfass2_gr2 = (dfass2.groupby(['month'])['Total'].agg(['count']).sort_values(by='count', ascending=False).reset_index())
# dfass2_gr2

In [24]:
months = ["Apr", "May"]
dfass2['month'] = pd.Categorical(dfass2['month'], categories=months, ordered=True)
dfass2.sort_values(by='month', ascending = True, inplace=True)

dfass2

   Total month
0     12   Apr
1     61   May

In [25]:
dfass2.to_csv("../datasets/df_usuarios_testando.csv")

In [26]:
# dfmapa3.head(100)

In [27]:
# dfmapa3.to_csv("empresas_mapa.csv")

In [28]:
# df_texto_ano = pd.read_csv('info-anos.csv', encoding='latin-1', sep=";")
# df_texto_ano.head()

In [29]:
# # Carregando os dados de geolocalização
# with open('estados_brasil.geojson') as response: # carregando o arquivo ".geojson"
#     limites_brasil = json.load(response)
# for feature in limites_brasil ['features']: # adicionado o ID aos dados
#     feature['id'] = feature['properties']['name']

In [30]:
# # criando as opções que serão apresentadas para o usuario trocar de ano no mapa do Brasil
# year_options = []
# for ano in df['Ano'].unique():
#     year_options.append({'label':str(ano), 'value':ano})

# Testando arquivo de mapas

In [31]:
# df_origin_gen = pd.read_csv('../datasets/empresas_mapa_new.csv', encoding='utf-8') # carregando os dado
# df_origin_gen.head()

In [32]:
# df_origin_gen.drop("Unnamed: 0", axis=1, inplace=True)
# df_origin_gen

In [33]:
# df_origin_gen.head()

In [34]:
# df_origin_gen.groupby('uf').count()


# # grouped_df = grouped_df.agg({"Ano": "nunique"})

# # grouped_df = grouped_df.reset_index()

# # print(grouped_df)

In [35]:
# Carregando os dados de geolocalização
# with open('../datasets/estados_brasil.geojson') as response: # carregando o arquivo ".geojson"
#     limites_brasil = json.load(response)
# for feature in limites_brasil ['features']: # adicionado o ID aos dados
#     feature['id'] = feature['properties']['name']

In [36]:
# import plotly.express as px

# fig=px.choropleth_mapbox(
#                         df_origin_gen,  # primeiro parâmetro é o dataframe com os dados
#                         locations='uf',  # coluna do DF que referencia as IDs do mapa
#                         geojson=limites_brasil,  # arquivo com os limites dos estados
#                         color='Total',  # indicando qual coluna será utilizada para pintar os estados
#                         mapbox_style="carto-positron",  # estilo do mapa
#                         center={'lon': -55, 'lat': -14},  # definindo a posição inicial do mapa
#                         zoom=3,  # definindo o zoom do mapa (número inteiro entre 0 e 20)
#                         opacity=1.0,  # definindo uma opacidade para a cor do mapa
#                         hover_name="uf",  # nome do hover
#                         color_continuous_scale='blues',  # muda a escala de cor
#                         range_color=[0, df_origin_gen['Total'].max()],  # limites do eixo Y
#                         )
    
# fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
# fig.show()

In [37]:
# df_mapa_origin = pd.read_csv('historico_estados_queimadas.csv', encoding='latin-1') # carregando os dados
# df_origin.head(100)

In [38]:
# newdf = df.loc[(df.UF == "São Paulo")]
# newdf.head()

In [39]:
# # Carregando os dados de geolocalização
# with open('estados_brasil.geojson') as response: # carregando o arquivo ".geojson"
#     limites_brasil = json.load(response)
# for feature in limites_brasil ['features']: # adicionado o ID aos dados
#     feature['id'] = feature['properties']['name']

In [40]:
# for feature in limites_brasil ['features']: 
#     if feature['properties']['name'] == 'São Paulo':
#         print(feature)

In [41]:


# fig = px.choropleth(
#     df_origin_gen, geojson=limites_brasil, color='Total',
#     locations="uf", featureidkey="uf",
#     center={'lon': -55, 'lat': -14},
#     hover_name="uf",  # nome do hover
#     projection="mercator", range_color=[0, 6500])
# # fig.update_geos(fitbounds="uf", visible=False)
# fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
# fig.show()