# Predict Sales Devolus

In [1]:
#basic imports
import pandas as pd
import numpy as np
import matplotlib as mpl
import json

%matplotlib inline
import warnings
import datetime as dt

# for visualizations
import matplotlib.pyplot as plt
import seaborn as sns


# for interactive visualizations
import plotly.offline as py
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
from plotly import tools
init_notebook_mode(connected = True)
import plotly.figure_factory as ff


warnings.filterwarnings("ignore")

In [13]:
df_emp = pd.read_csv("../datasets/empresas.csv", sep=';')
df_emp.head()

,Nome,Email,Telefone,CPF/CNPJ,Data cadastro,Cidade,UF,Qtd vistoria,Qtd foto,Armazenamento,Situação,Data limite teste,Vencimento,Valor,Desconto,Valor vistoria adicional,Data compra,Data cancelamento
0,07856446609,rod-queiroz@hotmail.com,(31) 99802-0349,078.564.466-09,21/12/2021,belo horizonte,MG,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 ponto imobiliario,NaN,(31) 999548491,17.149.156/0001-31,16/01/2021,Belo Horizonte,MG,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21 Soluções Imobiliárias,nilsoncardosoimoveis@gmail.com,(48) 99602-4343,34.162.884/0001-00,25/08/2021,Florianópolis,SC,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2F BRASIL CORRETORA DE SEGUROS E IMOVEIS LTDA.,NaN,(19) 999094009,20.453.418/0001-61,30/10/2019,SANTA BARBARA D'OESTE,SP,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,05/02/2022,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,08/02/2022,NaN

In [14]:
df_emp['Data compra'] = pd.to_datetime(df_emp['Data compra'], format='%d/%m/%Y')
df_emp['Data cancelamento'] = pd.to_datetime(df_emp['Data cancelamento'], format='%d/%m/%Y')
df_emp['Data cadastro'] = pd.to_datetime(df_emp['Data cadastro'], format='%d/%m/%Y')
df_emp.head()

,Nome,Email,Telefone,CPF/CNPJ,Data cadastro,Cidade,UF,Qtd vistoria,Qtd foto,Armazenamento,Situação,Data limite teste,Vencimento,Valor,Desconto,Valor vistoria adicional,Data compra,Data cancelamento
0,07856446609,rod-queiroz@hotmail.com,(31) 99802-0349,078.564.466-09,2021-12-21,belo horizonte,MG,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,1 ponto imobiliario,NaN,(31) 999548491,17.149.156/0001-31,2021-01-16,Belo Horizonte,MG,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
2,21 Soluções Imobiliárias,nilsoncardosoimoveis@gmail.com,(48) 99602-4343,34.162.884/0001-00,2021-08-25,Florianópolis,SC,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
3,2F BRASIL CORRETORA DE SEGUROS E IMOVEIS LTDA.,NaN,(19) 999094009,20.453.418/0001-61,2019-10-30,SANTA BARBARA D'OESTE,SP,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,2022-02-05,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,2022-02-08,NaT

In [15]:
colunas = {"Nome":"nome","Email":"email","Telefone":"telefone","CPF/CNPJ":"CPF/CNPJ","Data cadastro":"dtcadastro","Cidade":"cidade","UF":"uf","Qtd vistoria":"qtdvistoria","Qtd foto":"qtdfoto","Armazenamento":"armazenamento",
           "Data limite teste":"limiteteste","Vencimento":"vencimento","Valor":"valor",
           "Desconto":"desconto","Valor vistoria adicional":"vistoriaadd","Data compra":"dtcompra","Data cancelamento":"dtcancelamento","Data cancelamento":"dtcancelamento","Situação":"situacao"}
df_emp.rename(columns=colunas, inplace=True)
df_emp.head()

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento
0,07856446609,rod-queiroz@hotmail.com,(31) 99802-0349,078.564.466-09,2021-12-21,belo horizonte,MG,4,200,1,Gratuito,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,1 ponto imobiliario,NaN,(31) 999548491,17.149.156/0001-31,2021-01-16,Belo Horizonte,MG,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
2,21 Soluções Imobiliárias,nilsoncardosoimoveis@gmail.com,(48) 99602-4343,34.162.884/0001-00,2021-08-25,Florianópolis,SC,4,200,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
3,2F BRASIL CORRETORA DE SEGUROS E IMOVEIS LTDA.,NaN,(19) 999094009,20.453.418/0001-61,2019-10-30,SANTA BARBARA D'OESTE,SP,20,999,1,Gratuito inativo,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,2022-02-05,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.0,NaN,3.5,2022-02-08,NaT

In [16]:
df_emp = df_emp[(df_emp['situacao'] == 'Ativa')]
df_emp

,nome,email,telefone,CPF/CNPJ,dtcadastro,cidade,uf,qtdvistoria,qtdfoto,armazenamento,situacao,limiteteste,vencimento,valor,desconto,vistoriaadd,dtcompra,dtcancelamento
4,2W MEIRA CORRETORA E EMPREENDIMENTOS IMÓBILIAR...,2wmeira@gmail.com,(66) 99929-5409,30.809.995/0001-05,2022-02-05,Sorriso,MT,30,999999,5,Ativa,NaN,8.0,159.00,NaN,3.5,2022-02-08,NaT
13,A Agnello Imoveis S/C Ltda.,financeiro@agnelloimoveis.com.br,(16) 37110000,05.348.746/0001-04,2021-01-16,Franca,SP,50,999999,10,Ativa,NaN,5.0,212.43,NaN,3.5,NaT,NaT
17,ABIATAR CONSULTORIA IMOBILIARIA EIRELI,jessica@abiatar.com,(11) 964508509,18.802.961/0001-85,2020-02-05,TABOAO DA SERRA,SP,10,999999,1,Ativa,NaN,14.0,120.00,NaN,3.5,2020-02-10,NaT
28,A CAMARGO IMOVEIS LTDA ME,nelia@acamargoimoveis.com.br,(11) 26298061,25.331.625/0001-67,2021-01-16,Maua,SP,10,999999,11,Ativa,NaN,5.0,136.59,NaN,3.5,NaT,NaT
33,ACONTECE ASSESSORIA E PLANEJAMENTO IMOBILIARIO...,boletoacontece@gmail.com,(61) 33444112,26.977.553/0001-92,2021-01-16,Brasília,DF,150,999999,20,Ativa,NaN,15.0,402.82,NaN,3.5,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4638,Willians Meda Empreendimentos Imobiliários LTDA,anamaria.abud@hotmail.com,(11) 2441-4141,08.974.648/0001-70,2021-01-22,Guarulhos,SP,10,999999,1,Ativa,NaN,17.0,120.00,NaN,3.5,2022-02-17,NaT
4644,WLF Vistoria,fernando@wlfvistoria.com.br,(11) 950507356,28.584.128/0001-69,2021-01-16,São Paulo,SP,30,999999,15,Ativa,NaN,10.0,207.43,NaN,3.5,NaT,NaT
4663,ZANGARI NETIMOVEIS LTDA,silvana@zangari.com.br,(11) 30744242,09.290.783/0001-60,2021-01-16,SÃO PAULO,SP,999,999999,999,Ativa,NaN,5.0,198.05,NaN,3.5,NaT,NaT
4668,Zuccaro Imóveis,karem.bb@gmail.com,(11) 2408-7888,184.913.968-70,2021-02-05,Guarulhos,SP,180,999999,45,Ativa,NaN,21.0,465.20,NaN,3.5,2021-02-17,NaT
4669,ZYLBER ASSESSORIA IMOBILIARIA LTDA. - EPP,juliana@zylber.com.br,(11) 33343311,43.786.862/0001-02,2021-01-16,SÃO PAULO,SP,999,999999,999,Ativa,NaN,5.0,198.16,NaN,3.5,NaT,NaT

In [17]:
df_ts = df_emp[['dtcompra', 'valor']]
df_ts.head()

     dtcompra   valor
4  2022-02-08  159.00
13        NaT  212.43
17 2020-02-10  120.00
28        NaT  136.59
33        NaT  402.82

In [18]:
df_ts = df_ts.dropna()
df_ts

       dtcompra  valor
4    2022-02-08  159.0
17   2020-02-10  120.0
64   2022-02-02  110.0
108  2021-10-01   89.0
128  2021-09-01  120.0
...         ...    ...
4591 2021-12-17  120.0
4602 2021-10-27  110.0
4629 2022-01-05  140.0
4638 2022-02-17  120.0
4668 2021-02-17  465.2

[220 rows x 2 columns]

In [19]:
df_ts_gr = (df_ts.groupby(['dtcompra'])['valor'].agg(['sum']).sort_values(by='sum', ascending=False).reset_index())
df_ts_gr

      dtcompra      sum
0   2018-05-07  1996.00
1   2021-05-26   725.00
2   2020-04-30   632.77
3   2021-03-02   607.00
4   2021-09-07   478.00
..         ...      ...
167 2020-10-28    89.00
168 2020-10-17    85.53
169 2021-07-13    79.00
170 2021-04-20    79.00
171 2021-02-01    77.00

[172 rows x 2 columns]